
.tab-container .scroll-bar{height: 67px; display: none;}
.tab-container .scroll-bar .thumb{top: 0px; height: 68.0151515151515px;}
.tab-container .scroll-tabs-wrapper .viewport {height: 67px; width: 1150px;}
.tab-container .scroll-tabs-wrapper .overview {top: 0px; left: 0px; width:100%}
.tab-container .scroll-tabs-wrapper .overview .nav{width: 100% !important;}
.tab-container .nav .active {width: 18% !important;}
.tab-container .nav li {width: 18% !important;}

@media (max-width:750px){.tab-container .nav li{width: 20% !important }}
@media (max-width:750px){.tab-container .nav li a{text-align: center;
                                                margin:0 auto;
                                                padding: 10px 0px;
                                                    }}


@media (max-width:750px){.tab-container .nav .active {width: 20% !important }}

@media (max-width:320px){.tab-container .nav li {font-size: 11px;
                                                }}