 <!doctype html>
<html lang="es" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detalle de consumos - Mi cuenta | Personal</title>
    <link href="http://resources.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet">
    <link href="styles/v1/css/micuenta.css" rel="stylesheet">

    <!--Prod-->
    <!--<link href="http://resourcesdev.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet"> Desa-->
    <!--[if lt IE 9]>
    <script src="http://resources.personal.com.ar/components/misc/selectivizr-min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/modernizr.min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/html5shiv.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/respond.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/jquery.placeholder.js"></script>
    <![endif]-->
</head>
<body>
<!-- injector-header -->
<div id="_injector_header"></div>

<!-- login header -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Consumos</a></li>
                <li class="active">Detalle de consumos</li>
            </ul>
        </div>
    </div><!-- row -->

        <!-- section content -->
    <div class="row margin-bottom-20-xs">
        <div class="col-xs-12 col-sm-7">
            <div class="sin-card-header margin-bottom-25">
                <h4 class="card-title">
                    <a href="#"><span class="tpicon tpicon-flechaizquierda"></span></a> Detalle de consumos
                </h4>
                 <!--<div class="row">
                   <div class="col-xs-12">
                        <p>
                            Para obtener el cupón de pago de otra línea seleccioná modificar e ingresá una nueva línea.
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <!--<div class="col-xs-12 col-sm-5 bnt-title-detalle-resp">
            <a href="#" class="btn btn-default btn-lg btn-block btn-flex">USO DE LLAMADAS, SMS Y DATOS
            <span>Conocé el consumo de tus beneficios y packs activos</span></a>
        </div>-->
    </div>
    
    <div class="nonclass margin-bottom-50">
     <div class="nonclass" style="width: auto;">       
         <ul class="nav nav-titles nav-titles-sm" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
 			<!-- ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto --><li ng-class="{active: active, disabled: disabled}" heading="Consumos básicos"  class="col-xs-6 active">
                <a href="http://autogestiondesa.personal.com.ar/fullr/maquetas/36661-detalledeconsumo-pag1-prepagoyabonofijo-v4.html" ng-click="select()" tab-heading-transclude="" class="ng-binding">Consumos básicos</a>
             </li><!-- end ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto -->
             
             <li ng-class="{active: active, disabled: disabled}" heading="Consumos adicionales"  class="col-xs-6">
                <a href="http://autogestiondesa.personal.com.ar/fullr/maquetas/36661-detalledeconsumo-pag1-prepagoyabonofijo-v4-packs.html" ng-click="select()" tab-heading-transclude="" class="ng-binding">Consumos adicionales</a>
             </li><!-- end ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto -->
             
 		</ul>
     </div>
   </div>
    
     <div class="row margin-bottom-25">
        <div class="col-md-4 col-xs-12">
                
            <div class="row margin-bottom-15" >
                    
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label><strong>Tipo de Consumo</strong></label>
                                                <select class="form-control" id="select">
                                                  <option value="0">Seleccionar</option>
                                                  <option value="1">MMS / SMS</option>
                                                  <option value="2">Internet</option>
                                                  <option value="3">Llamadas</option>
                                                  <option value="4">Todos</option>
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                            </div>
                             
                             <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label><strong>Ver consumos de</strong></label>
                                                <select class="form-control" id="select">
                                                  <option value="1">1 día</option>
                                                  <option value="2">3 días</option>
                                                  <option value="3">7 días</option>
                                                  <option value="4">Más</option>
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                            </div>
                
            </div>
        </div>

                
        
         <!--BARRA DE BOTONES SIN FECHAS (se despliegan al hacer click en el botón "Avanzado")-->
        <div class="col-md-6 col-xs-12">
            <div class="row">
                
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <!--<div class="col-xs-12 col-sm-4 col-md-3 margin-bottom-10 margin-top-15 show">
                            <!--este <a> hace que se despliegan Desde y Hasta)
                            <a href="" class="btn btn-link col-md-12 ">
                                 <!--<img class="margin-right-10" src="images/icons/ico-calendar.png" alt="calendario">
                                <span class="glyphicon glyphicon-calendar margin-right-5"> </span>
                                AVANZADO
                             </a>
                        </div>-->
                       
                        <!--BARRA DE BOTONES CON FECHAS OCULTA (se despliega al hacer click en el botón "Avanzado"--> 
                        
                       
                        <label><strong>Período</strong></label>
                            <div class="row">
                                <!--desde-->
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <div class="">
                                          <input type="text" class="form-control form-control-date datetimepicker1" id="date" placeholder="Desde" >
                                        </div>
                                    </div>
                                </div>
                                <!--hasta-->
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="form-group">
                                          <div class="">
                                              <input type="text" class="form-control form-control-date datetimepicker1" id="date" placeholder="Hasta" >    
                                          </div>
                                    </div>
                                </div>
                                <!--BOTON CONSULTAR también oculto hasta el click -->    
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <a href="#" class="btn btn-primary btn-block">Consultar</a>
                                 </div>
                        
                            </div>
                    </div><!--finaliza col-->
                
                    
                
            </div><!--finaliza row-->
        
        </div><!--finaliza col-->
        
    </div><!--finaliza row botonera-->
    
    <!-- Mostrando x de x -->
    <!--<div class="row">
        <div class="col-xs-12 hidden-xs hidden-sm">
            <ul class="list-unstyled">
                <li class="pull-left">
                    <p>Mostrando 20 de 100 consumos del 05/06 al 15/06</p>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 hidden-md hidden-lg margin-top-25">
            <ul class="list-unstyled">
                <li class="pull-left">
                    <p>20 de 100 consumos</p>
                </li>
            </ul>
        </div>
    </div><!-- Fin Mostrando x de x -->


    <div class="list-store detalle-consumo">
        <!--header-->
        <div class="list-store-toolbar hidden-xs hidden-sm">
            <div class="list-store-header visible-md visible-lg ng-scope">
                <div class="col-xs-12 col-md-2">Descripción</div>
                <div class="col-xs-12 col-md-2">Destino</div>
                <div class="col-xs-12 col-md-2">Fecha y Hora</div>
                <div class="col-xs-12 col-md-2">Tipo</div>
                <div class="col-xs-12 col-md-2">Duración</div>
                <div class="col-xs-12 col-md-2">Costo</div>
                <!--<div class="col-xs-12 col-md-2">Saldo</div>-->
            </div>
            <!--fin-->
        </div>
        <!--inicio fila 1-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Llamada </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141235678</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 18:10:14</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Saliente</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">01:02:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 1-->

        <!--inicio fila 2-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Llamada </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141235678</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 18:10:14</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Saliente</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">01:02:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                    <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 2-->

        <!--inicio fila 3-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Internet</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">10 MB</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 3-->

        <!--inicio fila 4-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">SMS</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141233210</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 20:15:32</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Saliente</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 4-->

        <!--inicio fila 5-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Internet</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">16/06/2015 </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15 MB</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 5-->
        
        <!--inicio fila 6-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Llamada </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141235678</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 21:00:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Entrante</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">01:00:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                    <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 6-->
        <!--inicio fila 7-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">SMS</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141233210</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 21:15:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Entrante</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 7-->



        <!-- Descarga Facturación -->
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled">
                    <li class="pull-left">
                        <p class="alert alert-info alert-inline margin-bottom-0 margin-top-20 align-left">Los consumos se actualizan cada 3 horas</p>
                    </li>
                </ul>
            </div>
        </div><!-- Fin Descarga Facturación -->


        <!--paginator-->
        <div class="row">
            <div class="col-xs-12">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div><!-- Fin paginator-->

    </div><!-- Fin list store detalles de consumos-->
    
            
            
</div><!-- .container -->

<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>

<!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="components/custom.js"></script>
<script type="text/javascript" src="http://resources.personal.com.ar/components/tpinjector/v1/tpinjector.js"></script>
<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>  <!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="http://resourcesdev.personal.com.ar/components/misc/moment.min.js"></script>
<script src="http://resourcesdev.personal.com.ar/components/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
   $(function () {
        $('.datetimepicker1, .datetimepicker2').datetimepicker({
            format: 'L',
            icons: {
                previous: "tpicon tpicon-flechaizquierda",
                next: "tpicon tpicon-flechaderecha"
            }
        });
    });
</script>

</body>
</html>