 <!doctype html>
<html lang="es" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detalle de consumos - Mi cuenta | Personal</title>
    <link href="http://resources.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet">
    <link href="styles/v1/css/micuenta.css" rel="stylesheet">

    <!--Prod-->
    <!--<link href="http://resourcesdev.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet"> Desa-->
    <!--[if lt IE 9]>
    <script src="http://resources.personal.com.ar/components/misc/selectivizr-min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/modernizr.min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/html5shiv.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/respond.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/jquery.placeholder.js"></script>
    <![endif]-->
</head>
<body>
<!-- injector-header -->
<div id="_injector_header"></div>

<!-- login header -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Consumos</a></li>
                <li class="active">Detalle de consumos</li>
            </ul>
        </div>
    </div><!-- row -->

        <!-- section content -->
    <div class="row margin-bottom-20-xs">
        <div class="col-xs-12 col-sm-7">
            <div class="sin-card-header margin-bottom-25">
                <h4 class="card-title">
                    <a href="#"><span class="tpicon tpicon-flechaizquierda"></span></a> Detalle de consumos
                </h4>
                <!--<div class="row">
                    <div class="col-xs-12">
                        <p>
                            Para obtener el cupón de pago de otra línea seleccioná modificar e ingresá una nueva línea.
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <!--<div class="col-xs-12 col-sm-5 bnt-title-detalle-resp">
            <a href="#" class="btn btn-default btn-lg btn-block btn-flex">USO DE LLAMADAS, SMS Y DATOS
            <span>Conocé el consumo de tus beneficios y packs activos</span></a>
        </div>-->
    </div>
    
    <div class="nonclass margin-bottom-50">
     <div class="nonclass" style="width: auto;">       
         <ul class="nav nav-titles nav-titles-sm" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
 			<!-- ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto --><li ng-class="{active: active, disabled: disabled}" heading="Consumos básicos"  class="col-xs-6 ">
                <a href="http://autogestiondesa.personal.com.ar/fullr/maquetas/36661-detalledeconsumo-pag1-pospago-v4.html" ng-click="select()" tab-heading-transclude="" class="ng-binding">Consumos básicos</a>
             </li><!-- end ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto -->
             
             <li ng-class="{active: active, disabled: disabled}" heading="Roaming"  class="col-xs-6 active">
                <a href="http://autogestiondesa.personal.com.ar/fullr/maquetas/36661-detalledeconsumo-pag1-pospago-v4-roaming.html" ng-click="select()" tab-heading-transclude="" class="ng-binding">Roaming</a>
             </li><!-- end ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto -->
             
 		</ul>
     </div>
   </div>
    
   
        
    
    
    <!-- ROAMING (SACAR CLASS HIDDEN CUANDO EL SELECT ESTÁ EN ROAMING) -->
   
        <div class="sin-card-header margin-bottom-25">
            <h4 class="card-title">
                <a href="#"><span class="tpicon tpicon-flechaizquierda"></span></a> Roaming
            </h4>
        </div>
        <div class="list-store detalle-consumo margin-bottom-20">
            <!--header-->
            <div class="list-store-toolbar hidden-xs hidden-sm">
                <div class="list-store-header visible-md visible-lg ng-scope">
                    <div class="col-xs-12 col-md-2">Descripción</div>
                    <div class="col-xs-12 col-md-3">Fecha y Hora</div>
                    <div class="col-xs-12 col-md-3">Uso</div>
                    <div class="col-xs-12 col-md-3">Costo</div>
                </div>
                <!--fin-->
            </div>
            <!--inicio fila 5-->
            <div class="ng-scope">
                <div class="ng-scope clearfix">
                    <div class="list-store-item list-store-item-xs">
                        <div class="col-xs-12 col-md-2 item-cell ng-scope">
                            <div class="item-cell-title-resp">Descripción</div>
                            <div class="item-cell-body-resp padding-left-10-xs ng-binding">Internet Roaming</div>
                        </div>
                        <div class="col-xs-12 col-md-3 item-cell">
                            <div class="item-cell-title-resp">Fecha y Hora</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">Hasta 16/06/2015 </div>
                        </div>
                        <div class="col-xs-12 col-md-3 item-cell">
                            <div class="item-cell-title-resp">Uso</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">20 MB</div>
                        </div>
                        <div class="col-xs-12 col-md-3 item-cell ng-scope">
                            <div class="item-cell-title-resp">Costo</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">$10,00</div>
                        </div>
                         <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                            <div class="item-cell-title-resp">Saldo</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                        </div>-->
                    </div>
                </div>
            </div><!--fin fila 5-->


        </div><!--fin list-store ROAMING-->              
</div><!-- .container -->

<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>

<!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="components/custom.js"></script>
<script type="text/javascript" src="http://resources.personal.com.ar/components/tpinjector/v1/tpinjector.js"></script>
<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>  <!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="http://resourcesdev.personal.com.ar/components/misc/moment.min.js"></script>
<script src="http://resourcesdev.personal.com.ar/components/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
   $(function () {
        $('.datetimepicker1, .datetimepicker2').datetimepicker({
            format: 'L',
            icons: {
                previous: "tpicon tpicon-flechaizquierda",
                next: "tpicon tpicon-flechaderecha"
            }
        });
    });
</script>

</body>
</html>