 <!doctype html>
<html lang="es" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detalle de consumos - Mi cuenta | Personal</title>
    <link href="http://resources.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet">
    <link href="styles/v1/css/micuenta.css" rel="stylesheet">

    <!--Prod-->
    <!--<link href="http://resourcesdev.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet"> Desa-->
    <!--[if lt IE 9]>
    <script src="http://resources.personal.com.ar/components/misc/selectivizr-min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/modernizr.min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/html5shiv.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/respond.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/jquery.placeholder.js"></script>
    <![endif]-->
</head>
<body>
<!-- injector-header -->
<div id="_injector_header"></div>

<!-- login header -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Mi cuenta</a></li>
                <li><a href="#">Consumos</a></li>
                <li class="active">Detalle de consumos</li>
            </ul>
        </div>
    </div><!-- row -->

        <!-- section content -->
    <div class="row margin-bottom-20-xs">
        <div class="col-xs-12 col-sm-7">
            <div class="sin-card-header margin-bottom-25">
                <h4 class="card-title">
                    <a href="#"><span class="tpicon tpicon-flechaizquierda"></span></a> Detalle de consumos
                </h4>
                <!--<div class="row">
                    <div class="col-xs-12">
                        <p>
                            Para obtener el cupón de pago de otra línea seleccioná modificar e ingresá una nueva línea.
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
        <!--<div class="col-xs-12 col-sm-5 bnt-title-detalle-resp">
            <a href="#" class="btn btn-default btn-lg btn-block btn-flex">USO DE LLAMADAS, SMS Y DATOS
            <span>Conocé el consumo de tus beneficios y packs activos</span></a>
        </div>-->
    </div>
    
    <div class="nonclass margin-bottom-50">
     <div class="nonclass" style="width: auto;">       
         <ul class="nav nav-titles nav-titles-sm" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">
 			<!-- ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto --><li ng-class="{active: active, disabled: disabled}" heading="Consumos básicos"  class="col-xs-6 active">
                <a href="http://autogestiondesa.personal.com.ar/fullr/maquetas/36661-detalledeconsumo-pag1-pospago-v4.html" ng-click="select()" tab-heading-transclude="" class="ng-binding">Consumos básicos</a>
             </li><!-- end ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto -->
             
             <li ng-class="{active: active, disabled: disabled}" heading="Roaming"  class="col-xs-6">
                <a href="http://autogestiondesa.personal.com.ar/fullr/maquetas/36661-detalledeconsumo-pag1-pospago-v4-roaming.html" ng-click="select()" tab-heading-transclude="" class="ng-binding">Roaming</a>
             </li><!-- end ngRepeat: mercado in mercados | filter:producto.id  | filter:mercado.producto -->
             
 		</ul>
     </div>
   </div>
    
    <div class="row margin-bottom-25">
        <!--<div class="col-md-2 col-xs-12">
                
            <div class="row margin-bottom-15" >
                    
                <div class="col-md-12 col-xs-12">
                         
                        <div class="row">
                           
                          
                            <div class="col-xs-12 col-sm-6 col-md-12">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label><strong>Tipo de Consumo</strong></label>
                                                <select class="form-control" id="select">
                                                  <option value="0"></option>
                                                  <option value="1">MMS / SMS</option>
                                                  <option value="2">Internet</option>
                                                  <option value="3">Llamadas</option>
                                                  <option value="3">Roaming</option>  
                                                  <option value="4">Todos</option>
                                                </select>
                                            </div> 
                                        </div>
                                    </div>
                            </div>
        
                         </div>
                    
                        
          
                                                        
                    
                </div>
             </div>

                
        </div>
         <!--BARRA DE BOTONES-->
        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                

                            
                                <div class="row">
                                    <!--desde-->
                                    <div class="col-xs-12 col-sm-3 col-md-3">
                                       <div class="col-md-12">
                                        <div class="form-group">
                                            
                                                    <label><strong>Tipo de Consumo</strong></label>
                                                    <select class="form-control" id="select">
                                                      <option value="0">Seleccionar</option>
                                                      <option value="1">MMS / SMS</option>
                                                      <option value="2">Internet</option>
                                                      <option value="3">Llamadas</option>
                                                      <option value="3">Roaming</option>  
                                                      <option value="4">Todos</option>
                                                    </select>
                                                </div> 
                                        </div>
                                    </div>
                                    
                                    <label for="date" class="margin-left-20"><strong>Período</strong></label>
                                    
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <div class="">
                                                  <input type="text" class="form-control form-control-date datetimepicker1" id="date" placeholder="Desde" >
                                                </div>
                                            </div>
                                        </div>
                                        <!--hasta-->
                                        <!--hasta-->
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <div class="form-group">
                                                <div class="">
                                                  <input type="text" class="form-control form-control-date datetimepicker1" id="date" placeholder="Hasta" >
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <!--BOTON CONSULTAR también oculto hasta el click -->    
                                        <div class="col-xs-12 col-sm-4 col-md-4">
                                            <a href="#" class="btn btn-primary btn-block">Consultar</a>
                                         </div>
                                    </div>
                                </div>
                    <!--finaliza col-->
                
                    
                
            </div><!--finaliza row-->
        
        </div><!--finaliza col-->
        
    </div><!--finaliza row botonera-->
  


    <div class="list-store detalle-consumo"> <!--agregar class="hidden si se quiere ocultar cuando aparece Roaming"-->
        <!--header-->
        <div class="list-store-toolbar hidden-xs hidden-sm">
            <div class="list-store-header visible-md visible-lg ng-scope">
                <div class="col-xs-12 col-md-2">Descripción</div>
                <div class="col-xs-12 col-md-2">Destino</div>
                <div class="col-xs-12 col-md-2">Fecha y Hora</div>
                <div class="col-xs-12 col-md-2">Tipo</div>
                <div class="col-xs-12 col-md-2">Duración</div>
                <div class="col-xs-12 col-md-2">Costo</div>
                <!--<div class="col-xs-12 col-md-2">Saldo</div>-->
            </div>
            <!--fin-->
        </div>
        
        <!--inicio fila 1 internet-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Internet</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Hasta 15/06/2015 </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">10 MB</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 1-->
        <!--inicio fila 2 Llamada-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Llamada </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141235678</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 18:10:14</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Saliente</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">01:02:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 2-->

        <!--inicio fila 3 Llamada-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Llamada </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141235678</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 18:10:15</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Saliente</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">01:02:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                    <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 3-->


        <!--inicio fila 4 SMS-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">SMS</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141233210</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 20:15:32</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Saliente</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 4-->
        <!--inicio fila 5 SMS-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">SMS</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141233210</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 21:00:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Entrante</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">-</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                     <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 5-->

        
        <!--inicio fila 6 Llamada-->
        <div class="ng-scope">
            <div class="ng-scope clearfix">
                <div class="list-store-item list-store-item-xs">
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Descripción</div>
                        <div class="item-cell-body-resp padding-left-10-xs ng-binding">Llamada </div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Destino</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">541141235678</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Fecha y Hora</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">15/06/2015 21:15:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Tipo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">Entrante</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell">
                        <div class="item-cell-title-resp">Duración</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">01:00:00</div>
                    </div>
                    <div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Costo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$0,00</div>
                    </div>
                    <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                        <div class="item-cell-title-resp">Saldo</div>
                        <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                    </div>-->
                </div>
            </div>
        </div><!--fin fila 6-->
        

    </div><!-- Fin list store detalles de consumos-->
    
    <!-- Descarga Facturación -->
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-unstyled">
                    <li class="pull-left alert alert-info alert-inline margin-bottom-0 margin-top-20 align-left">

                        <p class="">Los consumos se actualizan cada 3 hs. Los generados en tu ciclo actual no incluyen cargos fijos, impuestos, ni la totalidad de los consumos roaming.</p><p> Los segundos, SMS, MB de internet incluidos en tu plan, se descontarán y se incluirán en tu próxima factura.</p>
                    </li>
                </ul>
            </div>
            
            
        </div><!-- Fin Descarga Facturación -->


        <!--paginator-->
        <div class="row text-center">
            <div class="col-xs-12">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div><!-- Fin paginator-->
    
    
    <!-- ROAMING (SACAR CLASS HIDDEN CUANDO EL SELECT ESTÁ EN ROAMING) -->
    <div class="hidden">
        <div class="sin-card-header margin-bottom-25">
            <h4 class="card-title">
                <a href="#"><span class="tpicon tpicon-flechaizquierda"></span></a> Roaming
            </h4>
        </div>
        <div class="list-store detalle-consumo margin-bottom-20">
            <!--header-->
            <div class="list-store-toolbar hidden-xs hidden-sm">
                <div class="list-store-header visible-md visible-lg ng-scope">
                    <div class="col-xs-12 col-md-2">Descripción</div>
                    <div class="col-xs-12 col-md-3">Fecha y Hora</div>
                    <div class="col-xs-12 col-md-3">Uso</div>
                    <div class="col-xs-12 col-md-3">Costo</div>
                </div>
                <!--fin-->
            </div>
            <!--inicio fila 5-->
            <div class="ng-scope">
                <div class="ng-scope clearfix">
                    <div class="list-store-item list-store-item-xs">
                        <div class="col-xs-12 col-md-2 item-cell ng-scope">
                            <div class="item-cell-title-resp">Descripción</div>
                            <div class="item-cell-body-resp padding-left-10-xs ng-binding">Internet Roaming</div>
                        </div>
                        <div class="col-xs-12 col-md-3 item-cell">
                            <div class="item-cell-title-resp">Fecha y Hora</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">Hasta 16/06/2015 </div>
                        </div>
                        <div class="col-xs-12 col-md-3 item-cell">
                            <div class="item-cell-title-resp">Uso</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">20 MB</div>
                        </div>
                        <div class="col-xs-12 col-md-3 item-cell ng-scope">
                            <div class="item-cell-title-resp">Costo</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">$10,00</div>
                        </div>
                         <!--<div class="col-xs-12 col-md-2 item-cell ng-scope">
                            <div class="item-cell-title-resp">Saldo</div>
                            <div class="item-cell-body padding-left-10-xs ng-binding">$28,00</div>
                        </div>-->
                    </div>
                </div>
            </div><!--fin fila 5-->


        </div><!--fin list-store ROAMING-->        
    </div> <!--fin hidden-->       
</div><!-- .container -->

<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>

<!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="components/custom.js"></script>
<script type="text/javascript" src="http://resources.personal.com.ar/components/tpinjector/v1/tpinjector.js"></script>
<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>  <!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="http://resourcesdev.personal.com.ar/components/misc/moment.min.js"></script>
<script src="http://resourcesdev.personal.com.ar/components/bootstrap/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
   $(function () {
        $('.datetimepicker1, .datetimepicker2').datetimepicker({
            format: 'L',
            icons: {
                previous: "tpicon tpicon-flechaizquierda",
                next: "tpicon tpicon-flechaderecha"
            }
        });
    });
</script>

</body>
</html>