<!doctype html>
<html lang="es" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Caracteristica de Plan Abono fijo</title>
    <link href="http://resources.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet">
    <link href="styles/v1/css/micuenta.css" rel="stylesheet">

    <!--Prod-->
    <!--<link href="http://resourcesdev.personal.com.ar/styles/v1/css/tpstyle.css" rel="stylesheet"> Desa-->
    <!--[if lt IE 9]>
    <script src="http://resources.personal.com.ar/components/misc/selectivizr-min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/modernizr.min.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/html5shiv.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/respond.js"></script>
    <script src="http://resources.personal.com.ar/components/misc/jquery.placeholder.js"></script>
    <![endif]-->
</head>
<body>
<!-- injector-header -->
<div id="_injector_header"></div>

<!-- login header -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#">Mi cuenta</a></li>
                <li class="active">Cambiar Plan</li>
            </ul>
        </div>
    </div>
    <!-- row -->

    <div class="row card-margin-top-50">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <h4 class="sin-card-title">
                <a href="#"><span class="tpicon tpicon-flechaizquierda"></span></a> Cambiar Plan
            </h4>
        </div>
    </div>


        

    <!--col Tu plan -->

    <div class="row">
        <div class="col-xs-12">
            <div class="tab-content">
                <div class="tab-pane fade active in" id="tab-planes-1">
                    <div class="list-store">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav nav-titles nav-titles-sm">
                                    <li class="col-xs-4 active"><a href="#tarjeta" data-toggle="tab" aria-expanded="false">Tarjeta</a></li>
                                    <li class="col-xs-4"><a href="#abono-fijo" data-toggle="tab" aria-expanded="false">Abono Fijo</a></li>
                                    <li class="col-xs-4"><a href="#factura" data-toggle="tab" aria-expanded="false">Factura</a></li>
                                </ul>
                            </div>

                            <div class="col-sm-12">
                                <div class="tab-content">
                                <!-- TARJETA -->
                                    <div role="tabpanel" class="tab-pane fade active in" id="tarjeta">
                                        <div class="row row-table hidden-xs ng-scope" ng-if="head == '0'">
                                          <div class="col-xs-12 col-md-4">
                                            <div class="media">
                                              <div class="media-left">
                                                <img ng-src="http://resources.personal.com.ar/images/icons/icon-pc-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-pc-color.png">
                                              </div>
                                              <div class="media-body">
                                                <br>
                                                <strong class="text-gray ng-binding">Con tus recargas tenés más beneficios</strong>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-xs-12 col-md-4">
                                            <div class="media">
                                              <div class="media-left">
                                                <img ng-src="http://resources.personal.com.ar/images/icons/icon-milinea-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-milinea-color.png">
                                              </div>
                                              <div class="media-body">
                                                <br>
                                                <strong class="text-gray ng-binding">Sin contrato fijo</strong>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-xs-12 col-md-4">
                                            <div class="media">
                                              <div class="media-left">
                                                <img ng-src="http://resources.personal.com.ar/images/icons/icon-misdatos-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-misdatos-color.png">
                                              </div>
                                              <div class="media-body">
                                                <br>
                                                <strong class="text-gray ng-binding">Internet x día</strong>
                                              </div>
                                            </div>

                                          </div>
                                        </div>
                                        
                                        <div class="row">
                                          <div class="col-xs-12 text-left">
                                            <h3 class="text-primary hidden-xs ng-binding">Tarjeta</h3>
                                            <h2 class="text-primary visible-xs ng-binding">Tarjeta</h2>
                                          </div>
                                          <div class="col-xs-12 col-lg-12">
                                              <div class="tab-content">
                                                  <div class="tab-pane fade active in" id="tab-planes-1">
                                                      <div class="list-store">
                                                          <div class="list-store-header visible-md visible-lg">
                                                              <div class="col-xs-12 col-sm-2"> </div>
                                                              <div class="col-xs-12 col-sm-2">Internet</div>
                                                              <div class="col-xs-12 col-sm-3">Llamadas</div>
                                                              <div class="col-xs-12 col-sm-3">SMS</div>
                                                              <div class="col-xs-12 col-sm-2">Info</div>
                                                          </div>
                                                          <!-- Item #1 PTFO-->
                                                          <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                                  <div class="item-cell-body">PLAN PREPAGO NACIONAL</div>
                                                              </div>
                                                              <!-- solo visible para mobile head list -->
                                                              <div class="col-xs-12 col-sm-12 col-md-2 padding-left-0 visible-xs visible-sm ">
                                                                  <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                      <div class="item-cell-body ">PLAN PREPAGO NACIONAL</div>
                                                                  </div>
                                                              </div>
                                                              <!-- fin col visible para mobile head list -->
                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                  <div class="item-cell-title">INTERNET</div>
                                                                  <div class="item-cell-body">$3,50 por día</div>
                                                              </div>
                                                              <div class="col-xs-12 col-sm-12 col-md-3 item-cell">
                                                                  <div class="item-cell-title">LLAMADAS </div>
                                                                  <div class="item-cell-body"><h4><strong>$0,073 </strong></h4></div>
                                                              </div>
                                                              <div class="col-xs-12 col-sm-12 col-md-3 item-cell">
                                                                  <div class="item-cell-title">SMS</div>
                                                                  <div class="item-cell-body"><h4><strong>$1,15</strong></h4></div>
                                                              </div>
                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                                  <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                              </div>
                                                          </div>

                                                          <!-- Item #2 Tradicional-->
                                                          <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                            <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                                <div class="item-cell-body">PERSONAL CON TARJETA</div>
                                                            </div>
                                                            <!-- solo visible para mobile head list -->
                                                            <div class="col-xs-12 col-sm-12 col-md-2 padding-left-0 visible-xs visible-sm ">
                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                    <div class="item-cell-body ">PERSONAL CON TARJETA</div>
                                                                </div>
                                                            </div>
                                                            <!-- fin col visible para mobile head list -->
                                                            <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                <div class="item-cell-title">INTERNET</div>
                                                                <div class="item-cell-body">$3,50 por día</div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-3 item-cell">
                                                                <div class="item-cell-title">LLAMADAS </div>
                                                                <div class="item-cell-body">
                                                                    <h4><strong>$0,073 </strong><small> hora pico</small></h4>
                                                                    <h4><strong>$0,073 </strong><small> hora no pico</small></h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-3 item-cell">
                                                                <div class="item-cell-title">SMS</div>
                                                                <div class="item-cell-body"><h4><strong>$1,15</strong></h4> </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                                <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                            </div>
                                                        </div>
                                                      </div>
                                                  </div>
                                                  <div class="tab-pane fade" id="tab-planes-2">
                                                      <p>Vacio</p>
                                                  </div>
                                                  <div class="tab-pane fade" id="tab-planes-3">
                                                      <p>Vacio</p>
                                                  </div>
                                              </div>
                                          </div>
                                        </div>                                        
                                    </div>

                                    <!-- fin TARJETA -->

                                    <!-- fin ABONO FIJO -->
                                    <div role="tabpanel" class="tab-pane fade" id="abono-fijo">
                                      <div class="col-xs-12 text-center">
                                        <h2 class="text-primary hidden-xs ng-binding">Conocé los Nuevos Planes</h2>
                                        <h3 class="text-primary visible-xs ng-binding">Conocé los Nuevos Planes</h3>
                                      </div>
                                        <div class="row row-table hidden-xs ng-scope" ng-if="head == '0'">
                                              <div class="col-xs-12 col-md-4">
                                                <div class="media">
                                                  <div class="media-left">
                                                    <img ng-src="http://resources.personal.com.ar/images/icons/icon-pc-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-pc-color.png">
                                                  </div>
                                                  <div class="media-body">
                                                    <br>
                                                    <strong class="text-gray ng-binding">Más gigas para navegar y estar siempre conectado</strong>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-xs-12 col-md-4">
                                                <div class="media">
                                                  <div class="media-left">
                                                    <img ng-src="http://resources.personal.com.ar/images/icons/icon-milinea-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-milinea-color.png">
                                                  </div>
                                                  <div class="media-body">
                                                    <br>
                                                    <strong class="text-gray ng-binding">Llamadas Ilimitadas a otro Personal a todo el país</strong>
                                                  </div>
                                                </div>
                                              </div>
                                              <div class="col-xs-12 col-md-4">
                                                <div class="media">
                                                  <div class="media-left">
                                                    <img ng-src="http://resources.personal.com.ar/images/icons/icon-misdatos-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-misdatos-color.png">
                                                  </div>
                                                  <div class="media-body">
                                                    <br>
                                                    <strong class="text-gray ng-binding">Tenés además SMS ilimitados a cualquier compañía</strong>
                                                  </div>
                                                </div>

                                              </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-12 text-left">
                                                  <h3 class="text-primary hidden-xs ng-binding">Abono Fijo</h3>
                                                  <h2 class="text-primary visible-xs ng-binding">Abono Fijo</h2>
                                                </div>
                                                <div class="col-xs-12 col-lg-12">
                                                    <div class="tab-content">
                                                        <div class="tab-pane fade active in" id="tab-planes-1">
                                                            <div class="list-store">
                                                                <div class="list-store-header visible-md visible-lg">
                                                                    <div class="col-xs-12 col-sm-2"> </div>
                                                                    <div class="col-xs-12 col-sm-2">Crédito</div>
                                                                    <div class="col-xs-12 col-sm-2">Internet</div>
                                                                    <div class="col-xs-12 col-sm-2">Llamadas</div>
                                                                    <div class="col-xs-12 col-sm-2">SMS</div>
                                                                    <div class="col-xs-12 col-sm-2">Info</div>
                                                                </div>
                                                                <!-- Item #1 PTFO-->
                                                                <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                                  <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                                      <div class="item-cell-body">ABONO FIJO 145
                                                                          <div class="text-destacado text-destacado-sm">
                                                                              <span class="text-primary">$145</span>
                                                                              <small> x mes</small>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- solo visible para mobile head list -->
                                                                  <div class="col-xs-12 col-sm-12 col-md-2 visible-xs visible-sm">
                                                                      <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                          <div class="item-cell-body">ABONO FIJO
                                                                              <div class="text-destacado text-destacado-sm">
                                                                                  <small>$</small>
                                                                                  <span>145</span>
                                                                                  <small> x mes</small>
                                                                              </div>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                                  <!-- fin col visible para mobile head list -->

                                                                  <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                      <div class="item-cell-title">CRÉDITO</div>
                                                                      <div class="item-cell-body"><h4><strong>$90 x mes</strong></h4></div>
                                                                  </div>
                                                                  <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                      <div class="item-cell-title">INTERNET</div>
                                                                      <div class="item-cell-body">Incluido por Mes 300 MB.</div>
                                                                  </div>
                                                                  <div class="col-xs-12 col-sm-12 col-md-4 item-cell">
                                                                      <div class="item-cell-title">LLAMADAS + SMS</div>
                                                                      <div class="item-cell-body"><h4><strong>$5.90 x día</strong></h4>
                                                                          que se descontará de tu crédito para hablar y mensajear a otro Personal.
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                                      <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                                  </div>
                                                              </div>
                                                              <!-- Item #2 tradicional-->
                                                            <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                                    <div class="item-cell-body">ABONO FIJO 99
                                                                        <div class="text-destacado text-destacado-sm">
                                                                            <span class="text-primary">$99</span>
                                                                            <small> x mes</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- solo visible para mobile head list -->
                                                                <div class="col-xs-12 col-sm-12 col-md-2 visible-xs visible-sm">
                                                                    <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                        <div class="item-cell-body">ABONO FIJO
                                                                            <div class="text-destacado text-destacado-sm">
                                                                                <small>$</small>
                                                                                <span>99</span>
                                                                                <small> x mes</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!-- fin col visible para mobile head list -->

                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                    <div class="item-cell-title">CRÉDITO</div>
                                                                    <div class="item-cell-body"><h4><strong>$129 x mes</strong></h4></div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                    <div class="item-cell-title">INTERNET</div>
                                                                    <div class="item-cell-body">$3,50 por día</div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                    <div class="item-cell-title">LLAMADAS</div>
                                                                    <div class="item-cell-body">
                                                                        <p><h4><strong>$0,054  </strong><small>hora pico </small></h4>
                                                                        <h4><strong>$0,054  </strong><small>hora no pico</small></h4>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                    <div class="item-cell-title">MSJ</div>
                                                                    <div class="item-cell-body"><h4><strong>$1.05</strong></h4></div>
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                                    <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                                </div>
                                                            </div>
                                                              <!-- Item #3 nuevo-->
                                                                <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                                    <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                                        <div class="item-cell-body">PLAN ABONO FIJO 150
                                                                            <div class="text-destacado text-destacado-sm">
                                                                                <span class="text-primary">$150</span>
                                                                                <small> x mes</small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- solo visible para mobile head list -->
                                                                    <div class="col-xs-12 col-sm-12 col-md-2 visible-xs visible-sm">
                                                                        <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                            <div class="item-cell-body">ABONO FIJO
                                                                                <div class="text-destacado text-destacado-sm">
                                                                                    <small>$</small>
                                                                                    <span>150</span>
                                                                                    <small> x mes</small>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- fin col visible para mobile head list -->

                                                                    <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                        <div class="item-cell-title">CRÉDITO</div>
                                                                        <div class="item-cell-body"><h4><strong>$129 x mes</strong></h4></div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                        <div class="item-cell-title">INTERNET</div>
                                                                        <div class="item-cell-body"><h4><strong>300MB</strong></h4>cuota de datos incluidas</div>

                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                        <div class="item-cell-title">LLAMADAS</div>
                                                                        <div class="item-cell-body">
                                                                            Ilimitado a Personal, a todo el país
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                        <div class="item-cell-title">SMS</div>
                                                                        <div class="item-cell-body">
                                                                            Ilimitado a todas las compañias
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                                        <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab-planes-2">
                                                            <p>Vacio</p>
                                                        </div>
                                                        <div class="tab-pane fade" id="tab-planes-3">
                                                            <p>Vacio</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- fin ABONO FIJO -->

                                    <!-- fin FACTURA -->
                                    <div role="tabpanel" class="tab-pane fade" id="factura">
                                        <div class="row row-table hidden-xs ng-scope" ng-if="head == '0'">
                                          <div class="col-xs-12 col-md-4">
                                            <div class="media">
                                              <div class="media-left">
                                                <img ng-src="http://resources.personal.com.ar/images/icons/icon-credito-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-credito-color.png">
                                              </div>
                                              <div class="media-body">
                                                <br>
                                                <strong class="text-gray ng-binding">Más gigas para navegar y estar siempre conectados</strong>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-xs-12 col-md-4">
                                            <div class="media">
                                              <div class="media-left">
                                                <img ng-src="http://resources.personal.com.ar/images/icons/icon-milinea-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-milinea-color.png">
                                              </div>
                                              <div class="media-body">
                                                <br>
                                                <strong class="text-gray ng-binding">Llamadas Ilimitadas a otro Personal a todo el país</strong>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="col-xs-12 col-md-4">
                                            <div class="media">
                                              <div class="media-left">
                                                <img ng-src="http://resources.personal.com.ar/images/icons/icon-misdatos-color.png" class="image-destacado" src="http://resources.personal.com.ar/images/icons/icon-misdatos-color.png">
                                              </div>
                                              <div class="media-body">
                                                <br>
                                                <strong class="text-gray ng-binding">Tenés además SMS ilimitados a cualquier compañía</strong>
                                              </div>
                                            </div>

                                          </div>
                                        </div>

                                        
                                        <div class="row">
                                          <div class="col-xs-12 text-left">
                                            <h3 class="text-primary hidden-xs ng-binding">Factura</h3>
                                            <h2 class="text-primary visible-xs ng-binding">Factura</h2>
                                          </div>
                                          <div class="col-xs-12 col-lg-12">
                                              <div class="tab-content">
                                                  <div class="tab-pane fade active in" id="tab-planes-1">
                                                      <div class="list-store">
                                                          <div class="list-store-header visible-md visible-lg">
                                                              <div class="col-xs-12 col-sm-2"> </div>
                                                              <div class="col-xs-12 col-sm-2">Crédito</div>
                                                              <div class="col-xs-12 col-sm-2">Internet</div>
                                                              <div class="col-xs-12 col-sm-2">Llamadas</div>
                                                              <div class="col-xs-12 col-sm-2">SMS</div>
                                                              <div class="col-xs-12 col-sm-2">Info</div>
                                                          </div>
                                                          <!-- Item #1 PTFO-->
                                                          <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                                  <div class="item-cell-body">ABONO FIJO 249
                                                                      <div class="text-destacado text-destacado-sm">
                                                                          <span class="text-primary">$249</span>
                                                                          <small> x mes</small>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <!-- solo visible para mobile head list -->
                                                              <div class="col-xs-12 col-sm-12 col-md-2 visible-xs visible-sm">
                                                                  <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                      <div class="item-cell-body">ABONO FIJO
                                                                          <div class="text-destacado text-destacado-sm">
                                                                              <small>$</small>
                                                                              <span>249</span>
                                                                              <small> x mes</small>
                                                                          </div>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <!-- fin col visible para mobile head list -->

                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                  <div class="item-cell-title">CRÉDITO</div>
                                                                  <div class="item-cell-body"><h4><strong>$290 x mes</strong></h4></div>
                                                              </div>
                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                  <div class="item-cell-title">INTERNET</div>
                                                                  <div class="item-cell-body">Incluido por Mes 300 MB.</div>
                                                              </div>
                                                              <div class="col-xs-12 col-sm-12 col-md-4 item-cell">
                                                                  <div class="item-cell-title">LLAMADAS + SMS</div>
                                                                  <div class="item-cell-body"><h4><strong>$5.90 x día</strong></h4>
                                                                      que se descontará de tu crédito para hablar y mensajear a otro Personal
                                                                  </div>
                                                              </div>
                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                                  <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                              </div>
                                                          </div>

                                                          <!-- Item #2 Tradicional-->
                                                          <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                            <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                                <div class="item-cell-body">ABONO FIJO 169
                                                                    <div class="text-destacado text-destacado-sm">
                                                                        <span class="text-primary">$169</span>
                                                                        <small> x mes</small>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- solo visible para mobile head list -->
                                                            <div class="col-xs-12 col-sm-12 col-md-2 visible-xs visible-sm">
                                                                <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                    <div class="item-cell-body">ABONO FIJO
                                                                        <div class="text-destacado text-destacado-sm">
                                                                            <small>$</small>
                                                                            <span>169</span>
                                                                            <small> x mes</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- fin col visible para mobile head list -->
                                                            <div class="col-xs-12 col-sm-12 col-md-3 item-cell">
                                                                <div class="item-cell-title">INTERNET</div>
                                                                <div class="item-cell-body">Incluido por Mes 500 MB</div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-3 item-cell">
                                                                <div class="item-cell-title">LLAMADAS</div>
                                                                <div class="item-cell-body">
                                                                    <h4><strong>250 min </strong><small> hora pico</small></h4>
                                                                    <h4><strong>250 min </strong><small> hora no pico</small></h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                                <div class="item-cell-title">SMS</div>
                                                                <div class="item-cell-body">
                                                                    <h4><strong>250 </strong><small> hora pico</small></h4>
                                                                    <h4><strong>250 </strong><small> hora no pico</small></h4>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                                <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                            </div>
                                                        </div>

                                                        <!-- Item #3 black-->
                                                        <div class="list-store-item list-store-item-sm list-store-item-auto-xs list-store-item-auto-sm padding-left-5 padding-right-5">
                                                          <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first hidden-xs hidden-sm">
                                                              <div class="item-cell-body">TODO INCLUIDO BLACK 1
                                                                  <div class="text-destacado text-destacado-sm">
                                                                      <span class="text-primary">$410</span>
                                                                      <small> x mes</small>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <!-- solo visible para mobile head list -->
                                                          <div class="col-xs-12 col-sm-12 col-md-2 visible-xs visible-sm">
                                                              <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-first">
                                                                  <div class="item-cell-body">TODO INCLUIDO BLACK 1
                                                                      <div class="text-destacado text-destacado-sm">
                                                                          <small>$</small>
                                                                          <span>410</span>
                                                                          <small> x mes</small>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                          </div>
                                                          <!-- fin col visible para mobile head list -->
                                                          <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                              <div class="item-cell-title">INTERNET</div>
                                                              <div class="item-cell-body">2GB Cuota por mes.</div>
                                                          </div>
                                                          <div class="col-xs-12 col-sm-12 col-md-4 item-cell">
                                                              <div class="item-cell-title">LLAMADAS</div>
                                                              <div class="item-cell-body">
                                                                  Llamadas a otro Personal - 300min. a otras compañias
                                                              </div>
                                                          </div>
                                                          <div class="col-xs-12 col-sm-12 col-md-2 item-cell">
                                                              <div class="item-cell-title">SMS</div>
                                                              <div class="item-cell-body">Ilimitados</div>
                                                          </div>
                                                          <div class="col-xs-12 col-sm-12 col-md-2 item-cell item-cell-last">
                                                              <div class="item-cell-body"><a href="#">Ver detalle</a></div>
                                                          </div>
                                                      </div>
                                                      </div>
                                                  </div>
                                                  <div class="tab-pane fade" id="tab-planes-2">
                                                      <p>Vacio</p>
                                                  </div>
                                                  <div class="tab-pane fade" id="tab-planes-3">
                                                      <p>Vacio</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                    <!-- fin FACTURA -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- .container -->

<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>

<!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="components/custom.js"></script>
<script type="text/javascript" src="http://resources.personal.com.ar/components/tpinjector/v1/tpinjector.js"></script>
<script src="http://resources.personal.com.ar/components/jquery/jquery-1.11.1.min.js"></script>
<script src="http://resources.personal.com.ar/styles/v1/js/tpstyle.js"></script>
<!-- Prod -->
<!--<script src="http://resourcesdev.personal.com.ar/styles/v1/js/tpstyle.js"></script>  Desa-->
<script src="http://resourcesdev.personal.com.ar/components/misc/moment.min.js"></script>


</body>
</html>