/* Chat*/
.chat {
  color: white;
  button {
    text-transform: inherit;
    a {
      text-transform: inherit;
      color: white;
    }
  }
  .dropdown-menu {
    background: #797979;
    width: 200%;
    padding: 10px;
  }
  .tpicon-chat {
    font-size: 65px;
  }
  .titulo-chat {
    color: white;
    display: inline;
    position: relative;
    top: -25px;
    font-size: 22px;
  }
  p {
    font-size: 12px;
  }
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 1;
}

@media (max-width: 795px) {
  .chat {
    right: 0;
  }
}

.chat .dropdown-toggle:focus {-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);}