/* Chat*/
.chat {
  color: white;
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 1; }
  .chat button {
    text-transform: inherit; }
    .chat button a {
      text-transform: inherit;
      color: white; }
  .chat .dropdown-menu {
    background: #797979;
    width: 200%;
    padding: 10px; }
  .chat .tpicon-chat {
    font-size: 65px; }
  .chat .titulo-chat {
    color: white;
    display: inline;
    position: relative;
    top: -25px;
    font-size: 22px; }
  .chat p {
    font-size: 12px; }

@media (max-width: 795px) {
  .chat {
    right: 0; } }
.chat .dropdown-toggle:focus {
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

/*# sourceMappingURL=Chat_con_representantes.css.map */
