card-footer-btn {
  min-height: 40px !important;
  background-color: #fff;
  height: 60px;
  padding-top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-top: 1px solid #ccc;
  position: absolute; }

/*# sourceMappingURL=dashboard_consumos_con_reseteo-BTN.css.map */
