.detalle-consumos {
    .title{margin-top:50px ;}
    @media (max-width: 768px)
    
    {.title{margin-top:0px ;}
        
    .title2 {margin-top:25px ;
            font-size:1.3em}
                            } 
                    } 