.card-flipper-adherido {min-height:180px;
                            
                            }
.card-front .card-flipper-adherido{min-height:180px;
                            
                            }

.card-flipper-adherido .card-body{position:absolute;
                            top:0px;
                            }


 @media (max-width: 768px){.card-flipper-adherido .card-body {position:absolute; 
                            top:60px;
                            width:90%;                    
                                }}

@media (max-width: 768px){.card-footer-adherido{display:none}
                                                        }

.list-group-item-full-adherido {
    
    padding-right: 100px;
    margin-bottom: -1px;
    background-image: url("images/icons/icon-arrow-big-right.png");
    background-repeat: no-repeat;
    background-position: right center;
    
    
                    }