.detalle-consumos .title {
  margin-top: 50px; }
@media (max-width: 768px) {
  .detalle-consumos .title {
    margin-top: 0px; }
  .detalle-consumos .title2 {
    margin-top: 25px;
    font-size: 1.3em; } }

/*# sourceMappingURL=dashboard_consumos_con_reseteo.css.map */
