<div class="tabla-contenido">
    <div>
        <table class="tb-page" cellspacing="0" rules="all" border="1" id="ctl00_MainCentro_gvAlarmas"
               style="border-collapse:collapse;">
            <tbody>
            <tr class="head-grid">
                <th scope="col">Referencia de Pago</th>
                <th scope="col">Descripción</th>
                <th scope="col">texto-ejm</th>
            </tr>
            <tr class="datos">
                <td>
                    <span id="ctl00_MainCentro_gvAlarmas_ctl02_lblLinea">1145370936</span>
                </td>
                <td>
                    <span id="ctl00_MainCentro_gvAlarmas_ctl02_lbTipoAlarmaDisp">Lorem ipsum dolor sitconsectetur adipiscing</span>
                </td>
                <td>
                    <a  href="#">Adherir</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
