/* arrows.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/
.arrow-back {
    margin-left: 20px;
    a {
        position: relative;
        span {
            color: $gray-light;
            font-size: 30px;
            left: -25px;
            top: -5px;
            position: absolute;
            @include single-transition(left, ease-in-out, 150ms);
            @include single-transition(color, ease-in-out, 150ms);
            &:hover {
                color: $brand-primary;
                text-decoration: none;
                left: -27px;
            }
        }
    }
}