/* btn-responsive.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/

/* btn-responsive */
@media (max-width: $screen-phone) {
    .btn-responsive {
        width: 100%;
        .btn {
            width: 100%;
            &.btn-lg {
                padding: 12px 15px;
            }
        }
        .btn+.btn {
            margin-bottom: 10px;
        }
        &.btn-responsive-double {
            .btn {
                width: 48%;
                float: right;
                &:last-child {
                    margin-right: 4%;
                }
                &.btn-lg {
                    padding: 12px 5px;
                }
            }
        }
    }
}

@media (min-width: $screen-phone) and (max-width: $screen-tablet) {
    .btn-responsive {
        width: 100%;
        .btn {
            width: 100%;
            &.btn-lg {
                padding: 12px 25px;
            }
        }
        .btn+.btn {
            margin-bottom: 10px;
        }
        &.btn-responsive-double {
            .btn {
                width: 48%;
                float: right;
                &:last-child {
                    margin-right: 4%;
                }
                &.btn-lg {
                    padding: 12px 5px;
                }
            }
        }
    }
}