// PLATFORM

// LIGHT
@font-face {
    font-family: 'Platform-light';
    src: url('../fonts/platform/platform-light.eot');
    src: url('../fonts/platform/platform-light.eot') format('embedded-opentype'),
         url('../fonts/platform/platform-light.woff') format('woff'),
         url('../fonts/platform/platform-light.ttf') format('truetype'),
         url('../fonts/platform/platform-light.svg#Platform-light') format('svg');
}
// REGULAR
@font-face {
    font-family: 'Platform-regular';
    src: url('../fonts/platform/platform-regular.eot');
    src: url('../fonts/platform/platform-regular.eot') format('embedded-opentype'),
         url('../fonts/platform/platform-regular.woff') format('woff'),
         url('../fonts/platform/platform-regular.ttf') format('truetype'),
         url('../fonts/platform/platform-regular.svg#Platform-regular') format('svg');
}
// MEDIUM
@font-face {
    font-family: 'Platform-medium';
    src: url('../fonts/platform/platform-medium.eot');
    src: url('../fonts/platform/platform-medium.eot') format('embedded-opentype'),
         url('../fonts/platform/platform-medium.woff') format('woff'),
         url('../fonts/platform/platform-medium.ttf') format('truetype'),
         url('../fonts/platform/platform-medium.svg#Platform-medium') format('svg');
}
// BOLD
@font-face {
    font-family: 'Platform-bold';
    src: url('../fonts/platform/platform-bold.eot');
    src: url('../fonts/platform/platform-bold.eot') format('embedded-opentype'),
         url('../fonts/platform/platform-bold.woff') format('woff'),
         url('../fonts/platform/platform-bold.ttf') format('truetype'),
         url('../fonts/platform/platform-bold.svg#Platform-bold') format('svg');
}

// ROBOTO
//@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);

//BOLD
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto/roboto-bold-webfont.eot');
    src: url('../fonts/roboto/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-bold-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
//LIGHT
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto/roboto-light-webfont.eot');
    src: url('../fonts/roboto/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
//MEDIUM
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto/roboto-medium-webfont.eot');
    src: url('../fonts/roboto/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
//REGULAR
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto/roboto-regular-webfont.eot');
    src: url('../fonts/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
//THIN
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto/roboto-thin-webfont.eot');
    src: url('../fonts/roboto/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto/roboto-thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

//Glyphicons
//THIN
/*
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/