/* icon.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/
// Flat set icons
/* ciclofactura icon set */
.iconflat-x42-ciclofactura {
    display: block;
    width: 42px;
    height: 42px;
    background: url('../../../images/icons/icon-flat-x42-ciclofactura.png') no-repeat 0 0;
}
/* camion icon set */
.iconflat-x64-camion {
    display: block;
    width: 64px;
    height: 64px;
    background: url('../../../images/icons/icon-flat-x64-camion.png') no-repeat 0 0;
}
/* calendario icon set */
.iconflat-x42-calendario {
    display: block;
    width: 42px;
    height: 42px;
    background: url('../../../images/icons/icon-flat-x42-calendario.png') no-repeat 0 0;
}