/* loader.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/
// Loader default component
/* vars for loader */
$zindex-loader: 1080 !default;
$loader-icon-size: 50px;
/* Core */
.loader {
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 0;
    left: 0;
    top: 0px;
    position: absolute;
    z-index: $zindex-loader;
    /* icon setting default */
    > .loader-icon {
        @include v-center($loader-icon-size);
        display: block;
        font-size: $loader-icon-size;
        width: $loader-icon-size;
        margin-left: auto !important;
        margin-right: auto !important;
        animation: rotate-right .8s ease infinite;
        /* Init rotate */
        -webkit-animation: rotate-right .8s ease infinite;
        /* Init rotate Safari and Chrome: */
    }
    /* Skins */
    &.default {
        background: rgba(white, 0.8);
        > .loader-icon {
            color: rgba($gray-light, 0.5);
        }
    }
}
/* animate rotate */
@keyframes rotate-right {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}
@-webkit-keyframes rotate-right {
    from {
        @include rotate(0deg);
    }
    to {
        @include rotate(360deg);
    }
}