/* micuenta.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/
// SECTIONS
/* Section Mi Perfil */
.mi-perfil {
    /* list-group custom setting */
    .list-group {
        .list-group-item-full {
            .list-group-item-full-text {
                padding: 10px 0 0;
                display: inline-block;
            }
        }
    }
}

/* Section Datos de Facturacion */
.datos-facturacion {
    .card-body {
        /* custom content */
        .box {
            padding: 30px 0;
            .alert {
                margin-bottom: 0px;
            }
            &.identidad, &.domicilio, &.telefono {
                border-bottom: 1px solid $table-border-color;
            }
            h5 {
                margin-top: 17px;
            }
            label, span {
                font-weight: normal;
                margin-top: 7px;
            }
        }
        /* btn responsive custom setting */
        .btn-responsive {
            padding: 8px;
        }
        /* table reset */
        .table {
            margin-bottom: 0px;
        }
    }
}

/* Section Compras realizadas*/
.compras-realizadas {
    .table-head-xs {
        span.tpicon {
            &.tpicon-facturacion {
                color: $brand-danger;
            }
        }
    }
    .table-body {
        span.tpicon {
            &.tpicon-descargar {
                @include v-center;
                color: $brand-primary;
                font-size: 35px;
                padding: 0;
                &:hover {
                    color: $brand-success;
                    @include single-transition(color, ease-in)
                }
            }
        }
        div[class*="col-sm"], div[class*="col-md"], div[class*="col-lg"] {
            height: 18px;
            label {
                @include v-center;
            }
        }
    }
}
/* Section NCDC */
.nota-credito-debito {
    .table-head-xs {
        span.tpicon {
            &.tpicon-infoabono {
                color: $brand-violet;
            }
        }
    }
    .table-body {
        span.tpicon {
            &.tpicon-descargar {
                @include v-center;
                color: $brand-primary;
                font-size: 35px;
                padding: 0;
                &:hover {
                    color: $brand-success;
                    @include single-transition(color, ease-in)
                }
            }
        }
        div[class*="col-sm"], div[class*="col-md"], div[class*="col-lg"] {
            height: 18px;
            label {
                @include v-center;
            }
        }
    }
}
/* Section Resolucion Llamadas */
.resolucion-llamadas {
    .table-head-xs {
        span.tpicon {
            &.tpicon-milinea {
                color: $brand-danger;
                -moz-transform: scaleX(-1);
                -o-transform: scaleX(-1);
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                -ms-filter: "FlipH";
                filter: FlipH;
            }
        }
    }    
}
/* Section Cuando llega tu factura? */
.cuando-llega-tu-factura{
    .row {
        border-bottom: 1px solid $gray-lighter;
        padding: 15px 0;
        &:last-child {
            padding: 15px 0 0;
            border-bottom: none;
        }
        .ico-box {
            height: 100%;
            .icon {
                margin: 0 auto;
            }
        }
        .title {
            font-size: 14px;
        } 
    }
}
/* Section Adhesion a Debito Automatico*/
.adhesion-debito {
    .card-body {
        /* custom content */
        p {
            margin-bottom: 25px;
        }
        .referencia-pago {
            @media (max-width: $screen-phone) {
                height: 85px;
                margin-bottom: 15px;
            }
            @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
                line-height: 50px;
                margin-bottom: 15px;
            }
            height: 85px;
            width: 100%;
            background: transparentize($brand-primary, 0.95);
            padding: 15px;
            .tpicon-facturacion {
                font-size: 50px;
                color: $brand-violet;
                float: left;
                height: 50px;
                line-height: 50px;
                margin-right: 10px;
            }
            p {
                @media (max-width: $screen-phone) {
                    display: inline-block;
                }
                @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
                    display: inline;
                    vertical-align: middle;
                }
                margin: 0;
                color: $brand-primary;
            }
            h3 {
                @media (max-width: $screen-phone) {
                    display: inline-block;
                }
                @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
                    display: inline;
                    vertical-align: middle;
                    margin-left: 5%;
                }
                margin: 0;
                color: $brand-primary;
            }
        }
        label {
            font-weight: normal;
        }
        .box-adhesion {

        }
        .box-desadhesion {
            .text-validation {
                font-size: 20px;
                margin-bottom: 30px;
            }

        }

    }
}
/* Specific Media Querys */
/* Mobile Small devices */
@media (max-width: $screen-phone) {
    // SECTIONS
    .mi-perfil {
        .card-body {
            /* custom content */
            .box {
                padding: 0px 0;
            }
        }
    }
}

/* Mobile Medium devices */
@media (min-width: $screen-phone) and (max-width: $screen-tablet) {
    // SECTIONS
    .mi-perfil {
        .card-body {
            /* custom content */
            .box {
                padding: 0px 0;
            }
        }
    }
}

/* Tablets devices */
@media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
    /* or @screen-md */
}

/* Desktop devices */
@media (min-width: $screen-desktop) and (max-width: $screen-lg-desktop) {
    /* or @screen-lg */
}

/* Wide Desktop devices */
@media (min-width: $screen-lg-desktop) {
    /* or @screen-lg */
}

/* Dinamic Media Querys */
/* from Small devices  to all*/
@media (min-width: 0px) {}

/* from Medium devices  to all*/
@media (min-width: $screen-xs-min) {}

/* from Tablets devices  to all*/
@media (min-width: $screen-sm-min) {
    .cuando-llega-tu-factura{
        .row {
            height: 100px;
            .col-vcenter {
               height: 48px;
               @include v-center();
            }
            .block-vcenter {
               @include v-center();
            }
        }
    }
}

/* from Desktop devices  to all*/
@media (min-width: $screen-md-min) {}

/* from Wide Desktop devices  to all*/
@media (min-width: $screen-lg-min) {}