/* responsive-tables.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/

.responsive-tables {
    // Table centered
    &.centered {
        .table-head,
        .table-body {
            text-align: center;
        }
    }
    // Structure
    .table-row {
        height: auto;
        margin-bottom: 15px;
        color: $card-text-color;
        padding: 15px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 3px;
        @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
        overflow: hidden;
    }
    label {
        font-weight: normal;
        margin-bottom: 0;
    }
    // Header table
    /* Small devices */
    .table-head-xs {
        margin-bottom: 20px;
        background: transparentize($brand-primary, 0.95);
        color: $gray-light;
        padding: 0 15px;
        h3 {
            color: $brand-primary;
            margin-top: 18px;
        }
        span.tpicon {
            font-size: 35px;
            color: $brand-primary;
            float: left;
            margin-top: 10px;
            margin-right: 5px;
        }
        label {
            font-family: Platform;
            font-size: 22px;
            line-height: 60px;
            float: right;
        }
    }
    /* Medium & Large devices */
    .table-head {
        padding: 15px;
        margin-bottom: 10px;
        background: transparentize($brand-primary, 0.95);
        border-top: 1px solid $brand-primary;
        color: $brand-primary;
    }
    
    /* Small devices */
    .table-footer {
        border-top: 1px solid $card-border;
        padding-top: 15px;
    }
    // Table pager
    .table-pager {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

/* Specific Media Querys */
/* Mobile Small devices */
@media (max-width: $screen-phone) {
    .responsive-tables {
        // Table centered
        &.centered {
            .table-head,
            .table-body {
                text-align: left;
            }
        }
        // Structure
        .table-row {
            padding: 10px;
        }
        // Table Header
        /* Small devices */
        .table-head-xs {
            margin: -10px -10px 10px -10px;
            h3 {
                font-size: 20px;
            }
            span.tpicon {
                font-size: 30px;
                margin-top: 12px;
                margin-right: 0px;
            }
            label {
                font-size: 18px;
            }
        }
        // Table body
        .table-body {
            padding: 0 5px;
            label {
                font-size: 12px;
            }
            div[class*="col-xs"] {
                margin-bottom: 10px;
            }
        }
    }
}

/* Mobile Medium devices */
@media (min-width: $screen-phone) and (max-width: $screen-tablet) {
    .responsive-tables {
        // Table centered
        &.centered {
            .table-head,
            .table-body {
                text-align: left;
            }
        }
        // Header
        /* Small devices */
        .table-head-xs {
            margin: -15px -15px 15px -15px;
        }
        .table-body {
            padding: 0 15px;
            label {
                margin-bottom: 30px;
            }
            span {
                font-size: 13px;
                margin-bottom: 30px;
            }
        }
    }
}