/* sistema de turnos file 
 * sistema de turnos File - w/Bootstrap 3
 * ------------------------------------------------------------------------------------*/

.card-lg.sist-turnos {
	padding: 25px 30px;
  overflow: initial !important;
}
.sist-turnos {
	form {
		.row {
			margin-bottom: 5px;
		}
		.tpicon-editar {
			color: $brand-primary;
			font-size: 20px;
			cursor: pointer;
		}
		.has-error {
			.control-label {
				font-weight: normal;
				padding-top: 5px;
			}
		}
		.input-group {
			input {
				border-right: none;
				-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			}
			.input-group-addon {
			padding: 5px 8px;
			background-color: transparent;
			border: 1px solid #ccc;
			border-left: none;
			border-radius: 3px;
			cursor: pointer;
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			&:last-child {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				}
			}
		}
	}
	.user-box {
		background: lighten($gray-lighter, 4%);
		padding: 15px;
		margin-bottom: 20px;
		.user-content {
			background: url("../../../images/icons/ico-user.png") left center no-repeat;
			padding: 5px 0;
		}
		p {
			margin-left: 38px;
			margin-bottom: 0;
		}	
	}
	.micuenta-list {
		border: 1px solid $card-border ;
		@media (max-width: $screen-desktop) {
			margin-top: 20px;
		}
		.list-group {
			margin: 0;
			padding: 5px 20px;
		}
		.header-list {			
			padding: 20px;							
			font-size: 20px;
			font-family: $headings-font-family;
			@media (max-width: $screen-desktop) {
				font-size: 15px;
				font-family: $font-family-sans-serif;
			}
			p {
				margin: 0;
			}			
		}
	}
	.content-vcenter {
		display: table;
	}
	.item-vcenter {
		display: table-cell;
		vertical-align: middle;
		float: none;
	}
	.turno-box {
		padding: 20px;
		background: lighten($gray-lighter, 4%);
		border-bottom: 1px solid $card-border;
		margin-bottom: 20px;
		p.turno-tt {
			font-size: 15px;
			margin-bottom: 15px;
		}
		.turn-date, .turn-place {
			@media (max-width: $screen-desktop) {
				margin-bottom: 15px;
			}
		}
		.btn {
			@media (max-width: $screen-desktop) {
				margin-bottom: 10px;
			}
		}
		.alert {
			margin-bottom: 0;
			@media (max-width: $screen-tablet) {
				margin-bottom: 15px;
			}
		}
	}
	.msg-common-users {
		margin-bottom: 120px;
		@media (max-width: $screen-tablet) {
			margin-bottom: 0px;
		}
		.alert {
			margin: 50px 0;
			@media (max-width: $screen-tablet) {
				margin: 25px 0;
			}
		}
		.btn {
			@media (max-width: $screen-tablet) {
				margin-bottom: 15px;
			}
		}
		.btn-link {
			color: $brand-primary;
			display: block;
			margin: 0 auto;
		}
	}
	.turno-no-vigente {
		.txt-turno-no-vigente {
			font-size: 20px;
			margin-top: 35px;
			margin-bottom: 50px;
			text-align: center;
		}
	   	@media ( min-width: $screen-tablet ) { 
			.btn {
	            width: 35%;
	            &:nth-child(2) {
	            	width: 60% !important;
	                margin-left: 4%;
	            }
	        }
		}
	}
}
.custom-timepicker-widget {

  // Core for box-widget-dropdown
  &.dropdown-menu {
    margin: 2px 0;
    padding: 4px;
    width: 19em;

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
    }

    &.bottom {
        &:before {
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid #ccc;
          border-bottom-color: rgba(0,0,0,.2);
          top: -7px;
          left: 7px;
        }

        &:after {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid white;
          top: -6px;
          left: 8px;
        }
    }

    &.top {
        &:before {
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid #ccc;
          border-top-color: rgba(0,0,0,.2);
          bottom: -7px;
          left: 6px;
        }

        &:after {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 6px solid white;
          bottom: -6px;
          left: 7px;
        }
    }

    &.pull-right {
      &:before {
        left: auto;
        right: 6px;
      }

      &:after {
        left: auto;
        right: 7px;
      }
    }

  }
  
  // Content for box-widget-dropdown
  .custom-timepicker-header {
    .custom-timepicker-switcher {
      height: 20px;
    }
    .timepicker-switcher-container {
      height: 17px;
      color: $gray;
      font-size: 14px;
      padding: 4px 0;
      text-align: center;
      font-weight: bold;
    }
  }
  .custom-timepicker-switcher {
    position:relative;
    .prev, .next {
      height: 20px;
      font-size: 20px;
      padding: 0px;
      color: $gray;
      @include v-center(); 
    }
  }

  .custom-timepicker-body {
    .custom-timepicker-switcher {
      height: 70px;
    }
    .timepicker-switcher-container {
      padding: 4px 0;
      text-align: center;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
          padding: 10px auto;
         list-style:none;
         text-align: center;
         border-bottom: 1px solid $gray-lighter;
         &.default a, a:hover {
          color: $brand-primary;
         }
         &:last-child {
          border-bottom: transparent !important;
         }
      }
    }
  }


}
