/* tpuser.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/

 @import "components/working";
// VARS
//$tpu-gray: lighten($color-black, 80%) !default; // #ccc
$tpu-gray: lighten($color-black, 34%) !default; // #575757

// GENERALS
.tpu-global-msg {
    margin-top: 40px;
}

.tpu-label {
    font-size: 13px;
    color: lighten($color-black, 66%);
    margin-top: 10px;
}

// SECTIONS
/* Login */
.tpu-login {
    margin-top: 55px;
    .card {
        padding: 15px 0;
        .btn-link {
            color: $brand-primary;
        }
        .card-body {
            min-height: 220px;
            .btn-link {
                display: inline-block;
                margin-bottom: 25px;
            }
        }
        footer {
            button {
                margin-bottom: 20px;
            }
        }
    }
    .tpu-box-reg {
        ul {
            padding-left: 0;
            li {
                list-style: none;
                margin-bottom: 5px;
            }
            li:last-child {
                margin: 18px 0 20px 0;
            }
        }
    }
    .card-tpu-box-dark {
        background: lighten($color-black, 97%);
        @media (max-width: $screen-tablet) {
            max-width: 320px;
            margin: 0 auto;
        }
    }
    @media (max-width: $screen-tablet) {
       .card-tpu-box{
        margin: 0 auto;
        background: none;
        max-width: 320px;
        margin-top: 20px;

    }
        }

        /* Spin Buttons modified */
input[type="number"].tpu-spin-button-modified::-webkit-outer-spin-button, 
input[type="number"].tpu-spin-button-modified::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0px;
     -moz-appearance: textfield;
}

  
    .card-header {
        height: 35px;
        border-bottom: 1px solid $card-border;
        text-align: center;
        margin: -8px -15px;
        margin-bottom: 30px;
    }
    label {
        font-weight: 500;
        letter-spacing: -0.2px;
    }
    h5 {
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 20px;
    }
}

/* Registration */
.tpu-reg {
    margin-top: 30px;
    .card {
        a {
            color: $brand-primary !important;
        }
    }
    .section-title {
        color: $tpu-gray;
        text-align: center;
        margin-bottom: 25px;
    }
    .tpu-reg-form {
        padding-top: 40px;
        .row {
            margin-bottom: 15px;
        }
        label {
            font-weight: normal;
        }
        .footer {
            border-top: 1px solid $gray-lighter;
            padding-top: 15px;
        }
        .btn-lg {
            padding: 12px 26px;
        }
        .disclaimer {
            font-size: 11px;
            margin-top: 15px;
            @media (max-width: $screen-tablet) {
                text-align: center !important;
            }
        }
        .tpu-data-login, .tpu-data-no-login {
            padding-top: 15px;
            .text-register {
                font-size: 15px;
                padding-bottom: 15px;
                color: $tpu-gray;
            }
            a {
                display: block;
                padding: 15px 0;
            }
        }
    }
}

/* tpu verification */
.tpu-reg-verification {
    p.text-step {
        color: $gray;
        font-size: 21px;
        margin-top: 20px;
    }
    p.text-sended {
        color: $gray;
        font-size: 24px;
        margin-top: 15px;
        @media (max-width: $screen-phone) {
            font-size: 16px;
        }
        b {
            color: $gray-base;
            font-weight: normal;
        }
    }
    p.text-verification {
        color: $gray;
        font-size: 18px;
        margin-top: 15px;
        @media (max-width: $screen-phone) {
            font-size: 13px;
        }
    }
    p.text-resend {
        margin-top: 50px;
    }
}

/* tpu confirmation */
.tpu-confirmation {
    p.text-gratz {
        font-size: 23px;
        padding-top: 20px;
        color: $gray-dark;
    }
    p.text-nextstep {
        font-size: 23px;
        color: $gray !important;
        font-weight: normal;
        @media (max-width: $screen-phone) {
            font-size: 17px;
            line-height: 18px !important;
        }
    }
    p.text-instructions {
        color: $gray-dark;
        font-size: 17px;
        padding-top: 30px;
        @media (max-width: $screen-phone) {
            font-size: 15px;
            line-height: 16px;
            padding-top: 10px;
        }
    }
}

/* tpu box-login */
.tpu-box-login {
    float: none !important;
    margin: 0 auto;
    .card-tpu-login-dark {
        margin-top: 50px;
        padding-top: 30px;
        padding-bottom: 40px;
        background: lighten($color-black, 97%);
        label {
            font-weight: normal;
        }
        .btn-block {
            margin-top: 20px;
        }
    }
}

/* Asociar lineas */
.tpu-asociar-linea {
    h4.section-title {
        font-size: 17px;
        color: $tpu-gray;
    }
    label {
        font-weight: normal;
    }
    .tpu-line-list {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding: 30px 0 30px 40px;
                border-top: 1px solid $gray-lighter;
                border-bottom: 1px solid $gray-lighter;
                color: $brand-success;
                font-weight: bold;
                position: relative;
                &.highlight {
                    padding: 30px 0;
                    span {
                        color: $gray;
                        font-weight: normal;
                        margin-left: 10px;
                    }
                    span.tpicon {
                        color: $brand-success;
                        font-size: 20px;
                        margin-right: 10px;
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
    }
    .tpu-add-line {
        margin-top: 15px;
        margin-bottom: 20px;
        h5 {
            font-weight: bold;
            margin-bottom: 15px;
        }
        .btn {
            margin-top: 20px;
        }
    }
    .tpu-addline-box-content {
        padding-top: 25px;
        min-height: 290px;
        @media (max-width: $screen-tablet) {
            padding-top: 10px;
            min-height: 0px;
        }
    }
    .tpu-addline-msg {
        margin-top: 15px;
        .line {
            font-size: 17px;
            color: $gray-light;
            .btn-link {
                font-size: 13px;
                color: $brand-primary;
            }
        }
    }
}

/* tpu data recover */
.tpu-data-recover {
    margin-top: 30px;
    h4.section-title {
        font-size: 17px;
        color: $tpu-gray;
        margin-bottom: 20px;
    }
    label {
        font-weight: normal;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .card {
        a, .btn-link {
            color: $brand-primary !important;
        }
        .panel-title {
            a {
                color: $tpu-gray !important;
            }
        }
        .footer {
            padding-top: 15px;
            border-top: 1px solid $gray-lighter;
        }
    }
    .tpu-emailrecover-msg {
        margin-top: 15px;
        .line {
            font-size: 17px;
            color: $gray-light;
            .btn-link {
                font-size: 13px;
                color: $brand-primary;
            }
        }
    }
    .tpu-addline-accordion {
        .panel-title {
            a {
                color: $brand-primary !important;
            }
        }
    }
    .txt-data-required {
        color: $brand-primary;
    }
    .data-required {
        color: $brand-primary;
        font-size: 15px;
        position: absolute;
        top: 0;
        right: 3px;
    }
}
// TPU Delete Account
.tpu-eliminar-cuenta {
    .btn-link {
        color: $brand-primary !important;
        &:hover {
            text-decoration: none !important;
        }
    }
    .tpu-list {
        .section-title {
            color: $tpu-gray !important;
            margin-bottom: 15px;
        }
        .item-list {
            padding: 30px 0;
            border-top: 1px solid $gray-lighter;
            &:last-child {
                padding: 20px 0;                
            }
            @media (max-width: $screen-tablet) {
                padding: 15px 0;
            }
        }
        .btn-lg {
            padding: 12px 26px;
            @media (max-width: $screen-tablet) {
                margin-bottom: 10px;
            }
        }
    }
}

// TPU Redes sociales
.tpu-redes-sociales {
    .btn-link {
        color: $brand-primary !important;
        &:hover {
            text-decoration: none !important;
        }
    }
    .tpu-list {
        .section-title {
            color: $tpu-gray !important;
            margin-bottom: 15px;
        }
        .item-list {
            padding: 30px 0;
            border-top: 1px solid $gray-lighter;
            &:last-child {
                padding: 20px 0;                
            }
            @media (max-width: $screen-tablet) {
                padding: 15px 0;
            }
        }
    }
    .tpicon {
        font-size: 40px;
        &.tpicon-facebook {
            color: #405d9c !important;
            vertical-align: middle;
        }
        &.tpicon-tweeter {
            color: #2ca9e1 !important;
            vertical-align: middle;
        }
    }
}

// TPU COMPONENTS
/* modal tpu */
.tpu-modal {
    .modal-header {
        border-bottom: 1px solid $gray-lighter;
        height: 50px;
    }
    .tpu-modal-footer {
        padding-top: 15px;
        border-top: 1px solid $gray-lighter;
    }

}

/*circle- current*/
.tpu-modal-step {
  span {
    font-size: 15px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    @include border-radius(30px);
    background: $gray-lighter;
    display: inline-block;
    @media (max-width: $screen-tablet) {
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
    }
  }
  .current {
    color: $brand-primary;
    span {
      color: #fff;
      background: $brand-primary;
    }
  }
}

.circle-white {
  color: #cccccc;
}

.tpicon.tpicon-micuenta2{
  font-size: 26px;
  margin-right: 10px;
  vertical-align: sub;
  text-align: left;
}

/* tpu addline accordion */
.tpu-addline-accordion {
    .panel {
        border: none;
        @include box-shadow(none);
    }
    .panel-body {
        border: none !important;
        padding: 0px;
    }
    .panel-title {
        color: $brand-primary;
        text-transform: none;
        .tpicon {
            position: relative;
            top: 7px;
            font-size: 30px;
            @include rotate(90deg);
        }
        .collapsed {
            .tpicon {
                @include rotate(0deg);
            }
        }
        a {
            background: none !important;
        }
    }
}

/* tpu progress bar */
.tpu-progress-bar {
    height: 5px;
    margin-top: 7px;
    margin-bottom: 15px;
    .progress-bar {
        line-height: 5px;
    }
}

/* tpu metter */
.tpu-meter {
    &.disabled {
        opacity: .4;
        .btn-primary {
            color: $gray;
            background: $gray-lighter;
            border-color: $gray-light;
            border-bottom: 2px solid $gray;
        }
    }
}

/* FOOTER */
#tpu-login-footer span {
    color: #666666;
    font-size: 15px;
    line-height: 40px;
    &.light {
        font-family: Platform-Light, Helvetica;
    }
    &.medium {
        font-family: platform-medium, Helvetica;
    }
}
.tpi-icon-brand {
    line-height: 40px;
    margin-right: 12px !important;
    height: 24px;
    width: 24px;
    background-position: 0px;
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
}

.tpi-icon-brand-black {
    background-image: url("http://resources.personal.com.ar/images/icons/icon-personal-black.png");
}
.tpi-icon-brand-club {
    background-image: url("http://resources.personal.com.ar/images/icons/icon-personal-club.png");
}

.tpi-icon-brand-musica {
    background-image: url("http://resources.personal.com.ar/images/icons/icon-personal-musica.png");
}

.tpi-icon-brand-videos {
    background-image: url("http://resources.personal.com.ar/images/icons/icon-personal-videos.png");
}

.tpi-icon-brand-juegos {
    background-image: url("http://resources.personal.com.ar/images/icons/icon-personal-juegos.png");
}

// Maqueta vicky
.tpu-addline-accordion {
    .panel {
        background: transparent;    
    }
}

.tpu-datos-basicos {
    .tpu-list {
        &:first-child {
            margin-bottom: 30px;
            @media (max-width: $screen-tablet) {
                margin-bottom: 0px;
            }
        }
        &:nth-child(2) {
            margin-bottom: 30px;
            @media (max-width: $screen-tablet) {
                margin-bottom: 0px;
            }
        }
        .section-title {
            color: $tpu-gray;
            margin-bottom: 15px;
        }
        .item-list {
            padding: 30px 0;
            border-top: 1px solid $gray-lighter;
            &:last-child {
                padding: 20px 0;                
            }
            @media (max-width: $screen-tablet) {
                padding: 15px 0;
            }
        }
        .btn-lg {
            padding: 12px 26px;
            @media (max-width: $screen-tablet) {
                margin-bottom: 10px;
            }
        }
        .btn-responsive {
            width: 100%;
        }
        .btn-link {
            color: $brand-primary;
        }
        .form-label {
            padding-top: 7px;
            @media (max-width: $screen-tablet) {
                padding: 0;
            }
        }
        .form-span {
            padding-top: 7px;
            display: inline-block;
            @media (max-width: $screen-tablet) {
                padding: 0;
            }
        } 
        .form-group {
            .control-label {
                padding-top: 7px;
                font-weight: normal;
            }
        }       
    }
    .form-clave {
        margin-top: 20px;
        .row {
            margin-bottom: 10px;
            &:last-child {
                @media (max-width: $screen-tablet ) {
                    margin-bottom: 0;
                }
            } 
        }
    }
    .row.email-verification {
        margin: 0;
        label {
            display: block;
            float: left;
            margin-right: 25px;
            color: #5A461B;
        }
        .alert.alert-warning {
            display: block;
            float: left;
        }
    }
 }


/* Desvinculacion de cuenta */

.tpuser {
  .tpicon.tpicon-confirmacion {
    font-size: 24px;
    color: #007c85;
    vertical-align: top;
  }
  .title-line {
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 9px;
    padding-bottom: 15px;
  }
  .line-bl {
    border-bottom: 1px solid #eee;
    padding-top: 25px;
    padding-bottom: 30px;
    position: relative;
    }

  .line-bl-xs{
    border-bottom: 1px solid #eee;
    padding-top: 25px;
    position: relative;
    padding-bottom: 110px;
  }
  .n-linea {
    color: #007c85;
  }

  .custom-style{
    font-size: 12px;
    color: #007c85;
    border: 1px solid #007c85;
    -webkitbox-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
    box-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);

  }
  .tp-item label{
    color: #007c85;
    margin-bottom: 0px;
    padding-left: 40px;
    @media (max-width: $screen-phone ) {
      padding-left: 10px;
    }
  }

}

/* bagle circle */
.circle-white{
    color: #cccccc;
    span{
      color: #fff;
    }
}

.tpu-addline-form{

  .tpicon.tpicon-clavepersonal2 {
      font-size: 55px;
       vertical-align: middle;
    @media (max-width: $screen-phone ) {
      font-size: 43px;
      margin-top: 7px;
    }
  }

  h3{
    @media (max-width: $screen-phone ) {
      font-size:17px;
    }
  }

}

  /* Fotos redes sociales */
  .datos-personales{
    h4:first-child{
      padding-bottom: 15px;
      border-bottom: 1px solid #eeeeee;
      margin: 15px 0 0;
    }
    .datos-texto .item-list:first-child{
      border-top: 0;
      padding-top: 15px;
    }
  }

  .img-perfil{
    position: relative;
    display: block;
    &:hover{
      p{
        color: #ccc;
      }
    }
    img{
      width: 120px;
      height: 120px;
      background: #575757;
    }
    p{
      z-index: 100;
      position: absolute;
      top: 42px;
      left: 50%;
      margin-left: -32px;
      width: 64px;
      height: auto;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      color: #fff;
    }
  }

  .ico-social{
    font-size: 36px;
    vertical-align: middle;
  }

  .btn-facebook{
    color: #fff;
    background-color: transparent;
    border-color: #3a5795;
    background-color: #3a5795;
    text-transform: uppercase;
    border-bottom: 2px solid #202F50;
    &:hover{
      background-color: #2f477a;
      border-color: #2f477a;
      color: #fff;
    }
    &:focus{
      color: #fff;
    }
  }


  .btn-twitter{
    color: #fff;
    background-color: transparent;
    border-color: #55acee;
    background-color: #55acee;
    text-transform: uppercase;
    border-bottom: 2px solid #2E7AB3;
    &:hover{
      background-color: #4992CA;
      border-color: #4992CA;
      color: #fff;
    }
    &:focus{
      color: #fff;
    }
  }

  .modal-img-perfil{
    .btn{
      padding: 10px 30px 10px 10px;
      .tpicon-facebook2,
      .tpicon-tweeter2{
        margin-top: -11px;
      }
    }
  }

  /* Recupera mail */

  .reset-overflow{
    overflow: visible;
  }

  .card .btn-link.text-primary{
    color:#00b4c5;
  }

  /* iT Genera nueva clave numerica */
  .n-clave{
    color:#333333;
    font-size: 15px;
  }

  .border-left{
    border-left: 1px solid #ccc;
  }

  .panel-heading{
    padding: 6px 0;
  }

  .text-center-md{
    @media (max-width: $screen-md-max ) {
      //text-align: center;
    }
  }

  .btn-no-wspace{
    white-space: normal;
  }

  /* tpuser 3 Pregunta de seguridad */
  .p-seguridad{
    .section-title img{
      vertical-align: bottom;
      padding-right: 14px;
    }
    .align-left{
      @media (max-width: $screen-phone ){
        text-align: left;
      }
    }
  }

  /* tpuser 3 Registro Perfil */
  .registro-perfil{
    .section-title{
      font-size: 21px;
    }
  }

  /*****************************/

  /* Specific Media Querys */
  /* Mobile Small devices */
  @media (max-width: $screen-phone) {}

  /* Mobile Medium devices */
  @media (min-width: $screen-phone) and (max-width: $screen-tablet) {}

  /* Tablets devices */
  @media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
    /* or @screen-md */
  }

  /* Desktop devices */
  @media (min-width: $screen-desktop) and (max-width: $screen-lg-desktop) {
    /* or @screen-lg */
  }

  /* Wide Desktop devices */
  @media (min-width: $screen-lg-desktop) {
    /* or @screen-lg */
  }

  /* Dinamic Media Querys */
  /* from Small devices  to all*/
  @media (min-width: 0px) {}

  /* from Medium devices  to all*/
  @media (min-width: $screen-xs-min) {}

  /* from Tablets devices  to all*/
  @media (min-width: $screen-sm-min) {}

  /* from Desktop devices  to all*/
  @media (min-width: $screen-md-min) {}

  /* from Wide Desktop devices  to all*/
  @media (min-width: $screen-lg-min) {}

