/* variables.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/

$brand-violet: 			#7b3d76 !default;

/* Institucional Color Palette */
/* ---------------------------------------------------------------- 
$institucional: #00b4c5;
$entretenimiento: #007c85;
$internet: #f2c108;
$sms: #f287b7;
$musica: #d0186b;
$empresas: #0057a8;
$multimedia: #7b3d76;
$black: #030018;
$llamadas: #5a461b;
*/