/* working file 
 * Working File - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/

 .tpu-reg{
 	.tpu-box-login{
        @media (min-width: 480px) and (max-width:$screen-sm-min){
            width: 60%;
        }
    }
}