/* mixins.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/
// Vertical Centering
@mixin v-center($size: "auto") {
    @if $size != "auto" {
        position: relative;
        height: $size;
        margin-top: -$size / 2;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @else {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}