/* scaffolding.scss
 * miCuenta 0.0.1 Beta - w/Bostrap 3
 * ------------------------------------------------------------------------------------*/
// GENERALS
/* Base Settings */
html, body {
    height: 100%;
}
/* fix header spacing */
.micuenta-fix-header-spacing {
    height: 20px;
    @media (max-width: $screen-tablet)  { 
        height:15px;
    }
}

/* place holder selected */

.placeholder-selected {
    color: $gray !important;
}

.placeholder {
    color: lighten($gray-base, 56.6);
}

/* Template Sections */
.section-header {
    height: 45px;
    margin-bottom: 15px;
    .section-title {
        font-family: 'Platform-regular';
        font-size: 19px;
        color: $card-text-color;
        float: left;
    }
}

// HELPERS
.v-center {
    @include v-center;
}

.disabled{
    cursor: not-allowed;
    background-color: #eee;
    opacity: 1;
}

/* Elemento FOL it6 */
.line-mail-resp {
   margin-top: -10px;
}

.tpicon-editar{
    margin-top: 0px;
    margin-bottom: 0px;
    color: #00b4c5;
    font-size: 20px;
    cursor: pointer;
}
.btn-flex{
    white-space: normal;
}

.checkbox-w-textarea-resp{
    width:100%;
}

.termino{
    a{
        @media (max-width: $screen-xs-max) {
            display:block;
        }
    }
}

.con-scroll{
    height: 365px;
    overflow: scroll;
}

/* Custom, phone iPhone */
//@media (max-width:767px) 

    .title-center {
    	h3, h4{
	    	@media (max-width: $screen-xs-max) {
		        text-align: center;
		        font-size: 19px;
		        line-height: 25px;
		    }
	  	}
    }

    .text-center-resp{
    	@media (max-width: $screen-xs-max) {
     	   text-align: center;
    	}
    }

    .title-medium{
    	@media (max-width: $screen-xs-max) {
       		font-size: 17px;
       	}
    }
    .btn-lg-responsive{
    	@media (max-width: $screen-xs-max) {
       		width: 100%;
       	}
    }

    .mail-margin-resp{
    	@media (max-width: $screen-xs-max) {
        	margin-top: 15px;
    	}
    }

    /* modal para popup  mobile */
    .modal-bottom {
    	@media (max-width: $screen-xs-max) {
        	margin-bottom: 30px;
        }
        @media (min-width: $screen-sm-min) {
			margin-bottom: 70px;
        }
    }

    .card-footer{
    	@media (max-width: $screen-xs-max) {
        	padding-bottom: 60px;
        }
    }
    .btn-edit-mail{
    	@media (min-width: 0px){
	        padding: 0px 0px;
	        margin-top: 10px;

	        a{
				margin-top: 10px;
	        }
	    }
    }
    .margin-bottom-resp{
    	@media (max-width: $screen-xs-max) {
        	margin-bottom: 0px;
        }
        @media (min-width: $screen-sm-min) {
        	margin-bottom: 50px;
        }
    }
    .card-footer-padding-bott {
    	@media (max-width: $screen-xs-max) {
	    	margin-bottom: 20px;
	    }
    }


/* Small Devices, Tablets */
//@media (min-width : 768px)
    .margin-left-resp img{
    	@media (min-width: $screen-sm-min) {
	        padding-left: 0px;
	        margin-left: 0px;
	    }
    }

    .btn-margin-left {
    	@media (max-width: $screen-sm-max) {
	        margin-left: 0px;
	    }
	    @media (min-width: $screen-sm-min) {
	        margin-left: 10px;
	       } 
    }



/* Medium Devices, Desktops */
//@media (min-width : 992px) 
    /* modal para popup  mobile */


/* iT7- */

.card-xs-left-resp{
    padding-left: 10px;
    margin-top: -15px;
    @media (min-width: $screen-md){
        padding-left: 40px;
        margin-top: 0px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
        padding-left: 25px;
        margin-top: 0px;
    }
}
.margin-img-resp{
    padding-top: 23px;
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
        padding-top: 23px;
        margin-left: 65px;
    }
}
.text-card-resp {
    margin-left: 15px;
    margin-top: -33px;
    @media (min-width: $screen-md){
        margin-left: 90px;
        margin-top: -85px;
    }
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
        margin-left: 100px;
        margin-top: -80px;
    }
}
.card-margin-top-resp{
    margin-top: -10px;
    @media (min-width: $screen-md){
        margin-top: 95px;
    }
}
.card-margin-top-title-resp{
    margin-top: 80px;
}
.margin-img-resp {
    padding-top: 23px;
    margin-left: -15px;
    @media (min-width: $screen-md){
        padding-top: 23px;
        margin-left: 30px;
    }
}
.list-group-top-resp{
    margin-top: 38px;
    li a{
        margin-top: -25px;
    }
}
.text-uppercase{
    text-transform: uppercase;
}
.card.card-md{
    &.front{
        &.side{
            &.card-height-resp {
                height: 180px;
                @media (min-width: $screen-md){
                    height: 380px;
                }
            }
        }
    }        
}
.tpicon.tpicon-descargar{
    font-size: 18px;
}
.error-center-lg-resp{
    margin-top: 70px;
}
.error-center-lg-2-resp{
    margin-top: 0px;
    @media (min-width: $screen-md){
        margin-top: 70px;
    }
    @media (min-width: 320px) and (max-width: $screen-xs-max) {
        margin-top: 18px;
    }
}
.error-center-md-resp{
    margin-top: 25px;
}
.error-center-md-2-resp{
    margin-top: 70px;
}
.height-250{
    height: 250px;
}


.card .list-group a, .card .btn-link {
    @media (min-width: 320px) and (max-width: $screen-xs-max) {
        margin-left: 0;
    }
}

.text-destacado-lg{
    &.text-primary{
        &.text-destacado-mb-resp{
            font-size: 55px;
            small{
                font-size: 40px;
            }
        }
    }
}

.error-center-lg-3-resp {
    @media (min-width: $screen-sm){
        margin-top: 70px;
    }
    @media (min-width: 320px) and (max-width: $screen-xs-max) {
        margin-top: 40px;
    }
}


/* Mis Facturas*/

.misf-icon-main-resp{
    min-width: 55px;
    @media (max-width: $screen-sm-max){
        position: relative;
        min-height: 89px;
    }
    @media (max-width: 475px){
        min-height: 118px;
        height: initial;
        margin:0;
    }
}

.misf-icon-container-resp {
    display: block;
    float: right;
    margin: 0 auto 22px;
    @media (max-width: $screen-sm-max){
        position: absolute;
        left: 50%;
        margin: 21px 0 35px -218px;
    }
    @media (max-width: 475px){
        float: left;
        position: relative;
        left: 0;
        margin:8px 0 13px 0;
        width: 100%;
    }
}

.misf-icon-resp {
    display: block;
    float: left;
    margin:0 40px 0 0;
    img{
        display: block;
        float: left;
        margin:0 6px 0 0;
    }
    a{
        display: block;
    }
    @media (max-width: 475px){
        clear: both;
        margin:0;
    }
    &:first-child{
        width: 137px;
        a{
            @media (max-width: 475px){
                width:220px;
                margin:7px 0 0 0;
            }
        }
    }
    &:nth-child(2){
        width: 120px;
        a{
            margin:7px 0 0 0;
        }
    }
    &:nth-child(3){
        width: 100px;
        margin:0;
        a{
            @media (max-width: 475px){
                width:220px;
                margin:7px 0 0 0;
            }
        }
    }
}

.list-store-item-xs{
    height: 65px;
    @media (max-width: $screen-sm-max){
        height: inherit;
    }
}

.item-cell-title-resp{
    width: 36%;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    text-transform: uppercase;
    @media (min-width: $screen-md){
        width: 100px;
        display: none;
    }
    @media (max-width: 475px){
        width: 53%;
    }
}

.item-cell-body-resp {
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    width: 64%;
    @media (min-width: $screen-md){
        text-align: left;
        vertical-align: middle;
        display: table-cell;
    }
    @media (max-width: 475px){
        width: 47%;
    }
}

.item-cell-last{
     .item-cell-body-resp {
        border-top: 1px solid #ccc;
        @media (min-width: $screen-md){
            border-top: none;
        }
        @media (max-width: $screen-sm-max){
            height: 50px;
        }
    }   
}

.modal-footer{
    .btn+.btn{
        @media (max-width: $screen-xs-max){
            margin: 0px;
        }
    }
}

.misf{
    .form-group{
        margin: 0;
    }
}

/* Cupon de pago*/
.cupon-form-resp{
    margin:50px 0 0 0;
    @media (max-width: $screen-sm){
        margin:20px 0 0 0;
    }
    p{
        @media (min-width: $screen-sm){
            padding-top: 7px;
        }
    }
    a{
        @media (min-width: $screen-sm){
            padding-top: 7px;
        }
    }
    .control-label{
        @media (min-width: $screen-sm){
            text-align: left;
        }
    }
    .radio{
        input[type="radio"]{
            position: relative;
            margin: 0 5px 7px 0;
        } 
    }
}

.cupon-form-resp:first-child {
  margin-top: 30px;
}

.form-horizontal{
    .has-error{
        .control-label{
            @media (min-width: $screen-sm){
                    padding-top: 0px;
            }
        }
        & > label{
            @media (min-width: $screen-sm){
                padding: 0;
                font-weight: normal;
            }
        } 
    }    
}

.cupon-form-resp .radio{
    & > label{
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
    } 
}

.nrolinea-resp{
    @media (min-width: $screen-sm){
        display: block;
        float: left;
    }
}

.nrolinea-modif-resp{
    @media (min-width: $screen-sm){
        display: block;
        float: left;
        margin:0 0 0 15px;
    }
}


.cupon-form-resp{
    .col-xs-3{
        @media (max-width: 519px){
        width: 130px;
        }
    }
    .col-xs-9{
        @media (max-width: 519px){
        width: 170px;
        }
    }
}




/*****Detalle de consumo ******/
.detalle-progres-resp{
    border-bottom: 1px solid #ccc;
}
.p-consumo-resp{
    margin-left: 25px;
    @media (max-width: 320px) and (max-width: $screen-xs-max){
        margin-left: 0px;
    }
}

.detalle-consumo{
    .list-store-header {
        div{
            &:first-child{
                text-align: left;
                padding: 14px 10px;
            }
        }
    }    
}
.bnt-title-detalle-resp{
    a{
        text-align: left;
    } 
    span{
        display: block;
        clear: both;
        text-transform: none;
    }
}

.input-group{
    .input-group-addon{
    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 3px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        &:last-child{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    input{
        border-right: none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
}


.detalle-consumo.item-cell-title-resp,
.detalle-consumo .item-cell-body {
  width: 50%;
}






/* caracteristica de plan

.color-fbfb-resp{
    background-color: #FBFBFB;
}
.bck-ff-resp{
    background-color: #ffffff;
}
.table-primary.table-padding-resp>thead.table-head-primary>tr>th {
    padding-right: 12px;
    padding-left: 12px;

}
.table-primary.table-padding-resp>thead>tr>th:nth-child(5){
    padding: 0 25px;
}

.table-primary.table-padding-resp>tbody>tr>td {
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;

}

*/


/***** Detalle de consumo PTFO ******/

.detalle-consumo-ptfo{
    .tpicon{
        font-size: 25px;
        vertical-align: bottom;
    }
    .text-center{
        margin-top: 15px;
        h2{
            margin-top: 5px;
            line-height: 0;
        }
    }
}



/***** Servicios contratados - Spotify ******/

.serv-detalle{
    .card-body{
        .tpicon{
            font-size: 65px;
        }
    }
    .list-group-item{
        text-transform: none;
    }
    .switch{
        margin:0 0 0 25px;
    }
}

.serv-confirma{
    p{
        margin: 7px 0 0px;
    }
}

.text-icon-dt-fact{
  font-size: 75px;
  padding-top: 10px;
}
.margin-left-plan-35{
  margin-left: 35px;
}

.btn-plan-detall-resp{
  margin-top: 20px;
  margin-bottom: 20px;
}

.spotify-card-resp{
  margin-top: 5px;
  margin-bottom: 5px;
}

.blck-plan-resp{
  margin-left: 45px;
  @media (min-width: $screen-sm){
      margin-left: 0px;
    }
}

.spotify-top{
  @media (min-width: $screen-sm) {
    padding-top: 35px;
  }
}

.serv-llamymsj{
    h4{
        padding: 13px 0;
        @media (max-width: $screen-xs-max){
            padding:5px 0;
        }
    }
    img{
        padding: 22px 0;
        @media (max-width: $screen-xs-max){
            padding:13px 0;
        }
    }
}

/** Popover colores **/

[data-style=alert-warning] + .popover,
[data-style=alert-warning] .popover {
  background-color: $popover-bg-alert-warning;
}

// Arrows
//
// .arrow is outer, .arrow:after is inner
[data-style=alert-warning] + .popover,
[data-style=alert-warning] .popover {
  &.top > .arrow {
    &:after {
      border-top-color: $popover-bg-alert-warning;
    }
  }
  &.right > .arrow {
    &:after {
      border-right-color: $popover-bg-alert-warning;
    }
  }
  &.bottom > .arrow {
    &:after {
      border-bottom-color: $popover-bg-alert-warning;
    }
  }

  &.left > .arrow {
    &:after {
      border-left-color: $popover-bg-alert-warning;
    }
  }
}


/** Caracteristica de plan **/

.well-line-resp{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  margin: 0px;
}
.well-line-resp{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0px;
  margin: 0px;
}

.font-size-70 h3 span{
  font-size: 70px;
  vertical-align: middle;
}

.table-padding-resp tr td{
  text-align: center;
}
.table-primary>thead.table-head-primary>tr>th{
  padding: 0px 10px !important;

}

.roaming-ajuste{
    thead{
        tr{
            th:nth-child(7){
                width: 150px;
            }
        }
    }

}

.table-caracteristica{
  tr{
        td{
            &:first-child{
                width:30%;
            } 
        }
    }
    @media (min-width: $screen-sm){
        .well{
            background-color: inherit;
        }
    }
}

.list-store {
    .list-store-item {
        .item-cell {
            .item-cell-title {
                @media (max-width: $screen-xs-max){
                    width: 35%;
                }
            }
        }
    }
}

/** Flecha en title h3 **/
h3{
    .tpicon.tpicon-flechaizquierda{
        font-size: 32px;
        vertical-align: sub;
    }
}



/** Cambio de plan **/
.list-store{
    .list-store-header{
        div.align-2reng{
            padding:2px 0;
        }
    }
}

.doble-flecha{
    text-align: center;
    img{
        &.hidden-xs{
        margin-top:40px
        }
        &.visible-xs{
            display: block;
            clear: both;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

.legales{
    p{
        color: #ccc;
    }
}

/* informar un pago*/
.info-pago {
    .card-lg {
      overflow: visible;
    }
    .card-body {
      margin-top: 40px;
    }
    label.control-label{
        color: #777;
    }
   .border-error{
      border: 1px solid #d9186b;
      border-left: 0px;
   }
  .tpicon-clubtiempoentrega{
    font-size: 19px;
    color: #555;
  }
  span.input-group-addon{
    color: #555;
  }
  span.control-label{
    padding-left: 0px;
    @media (max-width: $screen-sm){
      padding-left: 10px;
    }
  }
}

/* Transferencia */
.transferencia {
  .card-body {
    margin-top: 60px;
    @media (max-width: $screen-xs) {
      margin-top: 115px;
    }
  }
  .fijo {
    @media (min-width: $screen-sm) {
     border-left: 1px solid #ccc;
    }
  }
  .celular {
    @media (min-width: $screen-sm) {
      border-right: 1px solid #ccc;
    }
  }
  .form-horizontal .control-label{
    text-align: left;
  }
  .align-caract{
    @media (max-width: $screen-md-min) {
     padding-top: 7px;
    }
  }
  .control-label.align-caract-error{
    padding-top: 7px;
  }
}

/* Packs */
.cuadrado {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
}

.icon-grande{
    font-size: 120px;
}

.lista-pack{
    .text-destacado{
        font-size: 25px;
    }
    .tpicon{
        font-size: 25px;
    }
}
.tab-pane{
  .tpicon-pack{
    .tpicon.tpicon-credito,
    .tpicon.tpicon-tarjetacredito{
      font-size:34px;
      vertical-align: inherit;
      padding-right: 5px;
    }
  }
  span.tpicon.tpicon-informacion{
    font-size: 25px;
    vertical-align: top;
  }
  span.tpicon.tpicon-recargas{
    font-size: 29px;
    vertical-align: text-top
  }

      form {
        .form-group{
            &.col-xs-12{
                .row{
                    #card_number {
                        background-image: url("../../../images/icons/ico-tarjeta.png"), url("../../../images/icons/ico-tarjeta.png");
                        background-position: 2px -121px, 148% -61px;
                        background-size: 120px 361px, 120px 361px;
                        background-repeat: no-repeat;
                        padding-left: 54px;
                        &.visa {
                            background-position: 2px -163px, 148% -61px;
                        }
                        &.visa_electron {
                            background-position: 2px -205px, 148% -61px;
                        }
                        &.mastercard {
                            background-position: 2px -247px, 148% -61px;
                        }
                        &.maestro {
                            background-position: 2px -289px, 148% -61px;
                        }
                        &.discover {
                            background-position: 2px -331px, 148% -61px;
                        }
                        &.valid{
                            &.visa {
                                background-position: 2px -163px, 148% -87px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 148% -87px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 148% -87px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 148% -87px;
                            }
                            &.discover {
                                background-position: 2px -331px, 148% -87px;
                            }
                        }
                        @media (min-width: $screen-md) and (max-width: $screen-md-max) {
                            background-position: 2px -121px, 187% -61px;
                            &.visa {
                            background-position: 2px -163px, 187% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 187% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 187% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 187% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 187% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 187% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 187% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 187% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 187% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 187% -87px;
                                }
                            }
                        }
                        @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
                            background-position: 2px -121px, 153% -61px;
                            &.visa {
                            background-position: 2px -163px, 153% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 153% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 153% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 153% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 153% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 153% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 153% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 153% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 153% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 153% -87px;
                                }
                            }
                        }
                        @media (max-width: $screen-xs-max) {
                            background-position: 2px -121px, 116% -61px;
                            &.visa {
                            background-position: 2px -163px, 116% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 116% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 116% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 116% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 116% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 116% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 116% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 116% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 116% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 116% -87px;
                                }
                            }
                        }
                        @media (max-width: 660px) {
                            background-position: 2px -121px, 120% -61px;
                            &.visa {
                            background-position: 2px -163px, 120% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 120% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 120% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 120% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 120% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 120% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 120% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 120% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 120% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 120% -87px;
                                }
                            }
                        }
                        @media (max-width: 560px) {
                            background-position: 2px -121px, 126% -61px;
                            &.visa {
                            background-position: 2px -163px, 126% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 126% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 126% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 126% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 126% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 126% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 126% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 126% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 126% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 126% -87px;
                                }
                            }
                        }
                        @media (max-width: 460px) {
                            background-position: 2px -121px, 134% -61px;
                            &.visa {
                            background-position: 2px -163px, 134% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 134% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 134% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 134% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 134% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 134% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 134% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 134% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 134% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 134% -87px;
                                }
                            }
                        }
                        @media (max-width: 400px) {
                            background-position: 2px -121px, 145% -61px;
                            &.visa {
                            background-position: 2px -163px, 145% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 145% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 145% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 145% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 145% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 145% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 145% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 145% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 145% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 145% -87px;
                                }
                            }
                        }
                        @media (max-width: 350px) {
                            background-position: 2px -121px, 157% -61px;
                            &.visa {
                            background-position: 2px -163px, 157% -61px;
                            }
                            &.visa_electron {
                                background-position: 2px -205px, 157% -61px;
                            }
                            &.mastercard {
                                background-position: 2px -247px, 157% -61px;
                            }
                            &.maestro {
                                background-position: 2px -289px, 157% -61px;
                            }
                            &.discover {
                                background-position: 2px -331px, 157% -61px;
                            }
                            &.valid{
                                &.visa {
                                    background-position: 2px -163px, 157% -87px;
                                }
                                &.visa_electron {
                                    background-position: 2px -205px, 157% -87px;
                                }
                                &.mastercard {
                                    background-position: 2px -247px, 157% -87px;
                                }
                                &.maestro {
                                    background-position: 2px -289px, 157% -87px;
                                }
                                &.discover {
                                    background-position: 2px -331px, 157% -87px;
                                }
                            }
                        }
                    }
                }
            }  
        }
    }
}

.tp-tablist{
    .list-group{
        &.list-group-sintablist{
            padding-right: 0;
            border-right: none;
        }
    }
}    


/* Seguimiento de gestiones */
.seguimiento {
  .tpicon-clubenproceso,
  .tpicon-confirmacion{
    font-size: 35px;
  }
  .seguimiento-list {
    @media (max-width: $screen-md) {
      padding: 0px 25px;
    }
    .list-group-item{
       text-transform: none;
    }

  }
  .tpicon-clubtiempoentrega,
  .tpicon-informacion,
  .tpicon-serviciotecnico{
    font-size: 25px;
    vertical-align: bottom;
  }
  .well{
    margin-top:4px;
    min-height: 100px;
  }
}

.gestion{
  .tpicon.tpicon-buscarcontacto{
    font-size: 19px;
  }
  .tpicon.tpicon-clubenproceso,
  .tpicon.tpicon-confirmacion{
    font-size: 35px;
    @media (max-width: $screen-md-min){
      vertical-align: middle;
    }
  }
  .tpicon.tpicon-informacion{
    font-size: 25px;
  }
  .border-error{
    border: 1px solid #d9186b;
    border-left: 0px;
    color:#555;
  }

}




/* reseteo de cuotas */
[class*="tpicon-flecha"]{
    &.flecha-mediana{
        font-size: 25px;
    }
    &.flecha-grande{
        font-size: 40px;
    }
}

[class*="card-title"]{
    [class*="tpicon-flecha"]{
        color: #555;
    }
}
.disable{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);        
}

.reseteo{
    .disable{
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
        filter: alpha(opacity=65);        
    }

    .active{
        background-color: #f5f5f5;
    }
}


/*Roaming*/
.roaming-ldi{
    .card.card-md.front.side.card-height-roaming,
    .card.card-md.back.side.card-height-roaming,
    .card.card-md.card-height-roaming{
        height:320px;
    }

    .text-destacado,
    .text-centrado-roaming{
        margin-top: 65px;
    }

    .alert.alert-info.alert-inline{
      margin-top: 76px;
    }
    .roaming-center{
        font-family: 'Platform-regular';
        font-size: 19px;
        text-align: center;
    }
}

/* Pin y Puk */

@media (min-width: 992px) {
        .separator{border-left: 1px solid #ccc;}
    }


/* números amigos */
.n-amigos{
    .text-destacado{
        font-size: 23px;

        .tpicon .tpicon-agregarnumamigo{
            font-size: 55px;
            vertical-align: bottom;
        }

    }
}

/* cosas */
.text-left{
  text-align: left;
}

.text-left-xs{
    @media (max-width: $screen-sm) {
        text-align: left;
    }
}

.pull-right-sm{
    @media (max-width: $screen-md) {
      float:right;
    }
}

.pull-right-xs{
    @media (max-width: $screen-sm) {
      float:right;
    }
}

.sin-card-title{
    font-family: 'Platform-regular';
    font-size: 19px;
}

.clear{
    clear: both;
}

.cursor-pointer{
    cursor:pointer;
}

.font-30{font-size:30px !important;}
.text-center{text-align: center !important;}
  /*  Mascara boton error (X) general
  input[type="button"], input[type="reset"], input[type="submit"] {
      -webkit-appearance: button;
      cursor: pointer;
      background: none;
      border: none;
      opacity: 0.2;
  }
  */






  /* Specific Media Querys */
  /* Mobile Small devices */
  @media (max-width: $screen-phone) {
    /* or @screen-xs */
  }

  /* Mobile Medium devices */
  @media (min-width: $screen-phone) and (max-width: $screen-tablet) {
    /* or @screen-sm */
  }

  /* Tablets devices */
  @media (min-width: $screen-tablet) and (max-width: $screen-desktop) {
    /* or @screen-md */
  }

  /* Desktop devices */
  @media (min-width: $screen-desktop) and (max-width: $screen-lg-desktop) {
    /* or @screen-lg */
  }

  /* Wide Desktop devices */
  @media (min-width: $screen-lg-desktop) {
    /* or @screen-lg */
  }

  /* Dinamic Media Querys */
  /* from Small devices  to all*/
  @media (min-width: 0px) {}

  /* from Medium devices  to all*/
  @media (min-width: $screen-xs-min) {}

  /* from Tablets devices  to all*/
  @media (min-width: $screen-sm-min) {}

  /* from Desktop devices  to all*/
  @media (min-width: $screen-md-min) {
  }

  /* from Wide Desktop devices  to all*/
  @media (min-width: $screen-lg-min) {}

